@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
	color: #111;
	line-height: 1.4;
	font-family: sans-serif;
}

.vertically-centered {
	display: table;
}

.vertically-centered-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}

