/*Chen's Bad CSS*/
.admit_status.checked.in {
  box-shadow: 0 -60px 0 2px #ef5d93 inset;
  background: none;
}

.dimmed {
  opacity: .2;
}

.dimmable {
  transition: opacity .2s;
}

.reminder_container {
  margin: 4em 0 !important;
}

.search_keyhint {
  margin-top: -1em;
  position: absolute;
  top: 6em;
}

.search_keyhint .keycombo {
  margin-left: 0;
  margin-right: .25em;
}
span.keycombo {
  font-size: 80%;
  margin-left: .25em;
  background-color: rgba(255, 255, 255, .2);
  padding: .25em .5em;
}

.keyblack .keycombo {
  color: #AAA;
  background-color: rgba(0, 0, 0, .05);
}

/* Sam's Bad CSS */

.notification {
  border-bottom: 1px solid #ef5d93;
}


.counter {
  float: right;
}

h4 {
  font-size: 1.5rem;
}

.status_inline {
  position: absolute;
  right: 0;
  z-index: 10;
}

.admit_status {
  margin-bottom: 0px;
  margin-top: .35em;
}

@media screen and (max-width: 1280px) {
  .admit_status {
    margin-top: .15em;
  }
}

.counter > div {
  width: 10px;
  height: 24px;
  margin: 2px;
  margin-right: 10px;
}

.inline-flex {
  /* @Chen - currently the .flex class is using justify - It'd be nice to have our own flex class for browser compatibility but we should keep it modular - flex should just handle flex.*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.confirmed.admit_status {
  margin-bottom: 0px;
}

.help-text {
  color: #9C9791;
  font-weight: 300;
}

.reminder {
  margin: 10px 0;
  margin-bottom: 3%;
  font-size: 1.1em;
  font-weight: 300;
}

.tshirt {
  margin-top: 10px;   
  margin-bottom: 10px;
}

#shirt {
  margin-top: 5px;   
}

#checkin-button {
  height: 48px !important;
}

label {
  text-transform: uppercase;
  color: #1b8eb9;
  font-weight: 300;
  font-size: .9em;
}

#shirt > div {
  color: #fff;
  box-shadow: inset 1px -50px 0 -1px #1b8eb9;
  padding: 0 11px;
  line-height: 35px;
  display: inline-block;
}
/* Existing CSS */

.panes {
  width: 100%
}

.ui.input.title input {
  font-size: 2.5em !important;
  line-height: 1.8em !important;
  height: auto !important;
}

.ui.input.minimal input:focus {
  box-shadow: inset 1px -3px 0 -1px #404040 !important;
  color: #404040 !important;
  padding-left: inherit;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex.wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.status {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 2px;
  color: white;
}

.panes .pane {
  width: 100%
}

.ui.form .selectize-control {
   height: auto;
}

.ui.form .selectize-control.single>.selectize-input {
  height: auto;
}

.ui.form .selectize-control.single>.selectize-input>* {
   line-height: 1.8em;
   font-size: 2.5em;
}

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
  cursor: text;
}

.selectize-input.not-full input {
  width: 100% !important;
}

.ui.form .selectize-control input:focus {
  box-shadow: none !important;
}

.selectize-control.single .selectize-input:after {
  display: none;
}

.selectize-dropdown {
  top: 0 !important;
  position: relative;
  margin-top: -3px;
}

.textclip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.optgroup-header {
  font-weight: 600;
  text-transform: uppercase;
}

.caption {
  color: #918f8c;
}

.active > .caption {
  color: #E2E1DF;
}

.inner_container {
  max-width: 1017.6px;
}

.next-section {
    opacity: .4;
    transition: opacity 0.2s;
}

.next-section.active {
    opacity: 1;
}

/* bum bum overwrite */
.ui.form .field > label {
  font-size: 1.1em !important;
}

.ui.form .field > label .help-text {
  text-transform: none !important;
}