#apis {
	padding: 0;
	width: 100%;
	text-align: center;
	column-width: 200px;
	column-gap: 15px;
}
#apis > li {
	list-style-type: none;
	text-align: left;
	background-color: #f9f9f9;
	padding: 15px;
	break-inside: avoid;
	-webkit-column-break-inside: avoid;
	border-top: 2px solid gray;
	border-bottom: 15px solid white; /* workaround b/c margin-bottom is screwy w/ columns */
	padding-top: 5px;
}
#apis > li > img {
	max-width: 100%;
}
#apis img {
	display: none;
}
#apis h2 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.2em;
	border-bottom: none;
	text-transform: uppercase;
}



#apis #oracle {
	border-top-color: #e6001c;
}

#apis #mongodb {
	border-top-color: #301e12;
}

#apis #uber {
	border-top-color: black;
}

#apis #microsoft {
	border-top-color: #1292ec;
}

#apis #tripadvisor {
	border-top-color: #509638;
}

#apis #tessel {
	border-top-color: #ec3133;
}

#apis #twosigma {
	border-top-color: #128a95;
}

#apis #akamai {
	border-top-color: #fe8728;
}

#apis #myo {
	border-top-color: #1ab0d7;
}

#apis #spark {
	border-top-color: #139eeb;
}

#apis #bowery {
	border-top-color: #bdc85d;
}

#apis #dropbox {
	border-top-color: #0c67e0;
}

#apis #sailthru {
	border-top-color: #2fb9e0;
}

#apis #swipely {
	border-top-color: #1c5eab;
}

#apis #facebook {
	border-top-color: #2f4688;
}

#apis #lyft {
	border-top-color: #ea0b8c;
}





#apis #oracle a:link, #apis #oracle a:visited {
	color: #e6001c;
}

#apis #mongodb a:link, #apis #mongodb a:visited {
	color: #301e12;
}

#apis #uber a:link, #apis #uber a:visited {
	color: black;
}

#apis #microsoft a:link, #apis #microsoft a:visited {
	color: #1292ec;
}

#apis #tripadvisor a:link, #apis #tripadvisor a:visited {
	color: #509638;
}

#apis #tessel a:link, #apis #tessel a:visited {
	color: #ec3133;
}

#apis #twosigma a:link, #apis #twosigma a:visited {
	color: #128a95;
}

#apis #akamai a:link, #apis #akamai a:visited {
	color: #fe8728;
}

#apis #myo a:link, #apis #myo a:visited {
	color: #1ab0d7;
}

#apis #spark a:link, #apis #spark a:visited {
	color: #139eeb;
}

#apis #bowery a:link, #apis #bowery a:visited {
	color: #bdc85d;
}

#apis #dropbox a:link, #apis #dropbox a:visited {
	color: #0c67e0;
}

#apis #sailthru a:link, #apis #sailthru a:visited {
	color: #2fb9e0;
}

#apis #swipely a:link, #apis #swipely a:visited {
	color: #1c5eab;
}

#apis #facebook a:link, #apis #facebook a:visited {
	color: #2f4688;
}

#apis #lyft a:link, #apis #lfyt a:visited {
	color: #ea0b8c;
}

