#awards {
	padding: 0;
	width: 100%;
	text-align: center;
	column-width: 200px;
	column-gap: 15px;
}
#awards > li {
	list-style-type: none;
	text-align: left;
	background-color: #f9f9f9;
	padding: 15px;
	break-inside: avoid;
	-webkit-column-break-inside: avoid;
	border-top: 2px solid gray;
	border-bottom: 15px solid white; /* workaround b/c margin-bottom is screwy w/ columns */
	padding-top: 5px;
}
#awards > li > img {
	max-width: 100%;
}
#awards img {
	display: none;
}
#awards h2 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.2em;
	border-bottom: none;
	text-transform: uppercase;
}
