
/*Shim*/
.ui.label {
  width: 1em !important;
  background: none !important;
  color: rgba(145,143,140,.3) !important;
  box-shadow: inset 1px -3px 0 -1px rgba(145,143,140,.3) !important;
  transition: box-shadow .2s cubic-bezier(0.55,0,.1,1),padding .2s cubic-bezier(0.55,0,.1,1) !important;
  font-weight: 300 !important; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grid-sizer {
  width: 50%;
}

.ui.cards {
  padding-bottom: 30px;
  transition: height .5s cubic-bezier(.55,0,.1,1);
}

.ui.cards .card {
  animation: fadeIn .5s cubic-bezier(.55,0,.1,1);
  animation-fill-mode: backwards;
}

.removing a {
  display: none;
}

.indented {
  margin-left: .8em !important;
}

.light {
  font-weight: 300;
}

#state2 {
  position: absolute;
  display: block;
  clip: rect(0,0,0,0);
  opacity: 0;
  height: 0;
  width: 0;
  -webkit-appearance: none;
}

.message .actions {
  line-height: 35px;
}

.upload-control {
  display: -webkit-flex;
  display: flex;
}

.status-actions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
 }

.left_group {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: auto;
}

/* Hacky Delete Button*/
/*
.delete {
  padding-top: 30px;
}
*/
.upload {
  flex: 0 0 128px;
  margin-right: .75em;
  transition: box-shadow 0s !important;
}
.upload.fadeBackground {
  transition: box-shadow 0s, background-color 1s cubic-bezier(.55,0,.1,1) !important;
}
.upload.loading,
.upload.complete {
  transition: box-shadow 1.5s cubic-bezier(.55,0,.1,1) !important;
}
.upload.complete {
  color: white !important;
  background-color: #26a59f;
}

.file-name {
  margin-left: .75em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .file-name {
  margin-left: 0;
  margin-right: .75em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-bar_ul.constrained {
  max-width: 856.8px;
  width: calc(964px*.8);
}

h1.hi {
  font-weight: 300;
  text-transform: capitalize;
}

p.caption {
  font-weight: 300;
}

.label {
  text-transform: uppercase;
}

.label.grey {
  color: rgba(145, 143, 140, .8);
}

input[type=file] {
  display: none;
}

.resume-button:focus {
  outline: none;
}

.resume-button {
  box-shadow: inset 1px 0px 0px -1px #1B8EB9;
  background-color: #EBEBEB;
  border: none;
  padding: 11px;
  padding-top: 7px;
  padding-bottom: 10px;
  color: #404040;
  font-weight: 300;
  font-size: .9em;
  transition: box-shadow .2s cubic-bezier(.55,0,.1,1), color .2s cubic-bezier(.55,0,.1,1);
  height: 35px;
  line-height: 1.8em;
}

h3.secondary {
  color: rgba(145, 143, 140, .8);
  font-weight: 300;
}

.panes.in-pane0 {
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.panes.in-pane1 {
  -webkit-transform: translate3d(-33.333%, 0, 0);
  transform: translate3d(-33.333%, 0, 0);
}

.panes.in-pane2 {
  -webkit-transform: translate3d(-66.666%, 0, 0);
  transform: translate3d(-66.666%, 0, 0);
}

/*Fuck everything*/

/* GENERAL */
html {
  overflow-x: hidden;
  transition: font-size .5s;
}
body {
  top: 0;
}
a:hover {
  color: #EF5D93;
  border-bottom: 2px #EF5D93 solid;
}
a:active {
  color: #EF5D93;
  border-bottom: 2px #EF5D93 solid;
}
.top-bar_li:hover,
.init_submit:hover,
.form_finish input[type=submit]:hover,
input[type="radio"] + label:hover,
.add_link:hover {
  cursor: pointer;
}
.light {
  font-weight: 300;
}
.center {
  text-align: center;
}
input {
  -webkit-appearance: none !important;
  -moz-appearance:    none !important;
  appearance:         none !important;
  border-radius: 0 !important;
}
input[type=submit] {
  position: relative;
  font-size: 1em;
  background-color: #1b8fb9;
  border: 2px solid #1B8EB9;
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}
input[type=submit]:hover {
  background-color: #EF5D93;
  border-color: #EF5D93;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill,
input:-moz-autofill, textarea:-moz-autofill, select:-moz-autofill,
input:-o-autofill, textarea:-o-autofill, select:-o-autofill { /* Override Autofills */
  background:none !important;
  background-color:rgba(0,0,0,0) !important;
  color: #fff !important;
}
input:focus:-webkit-autofill, textarea:focus:-webkit-autofill, select:focus:-webkit-autofill {
  -webkit-text-fill-color:#fff !important;
}
input:focus:-moz-autofill, textarea:focus:-moz-autofill, select:focus:-moz-autofill {
  -moz-text-fill-color:#fff !important;
}
input:focus:-o-autofill, textarea:focus:-o-autofill, select:focus:-o-autofill {
  -o-text-fill-color:#fff !important;
}


/* REGISTRATION */
span.optional {
  font-weight: 300;
  color: #918f8c;
}
.fields .field {
  margin-bottom:0;
}
/*TODO: Check what this does*/
.ui.form ::input-placeholder {color:#AAA;}

.errorsPresent {
  max-height: 0;
  overflow-y: hidden;
  margin-bottom: 15px;
  font-size: 1.2em;
}
.nag {
  width: 100%;
  font-weight: 300;
  color: #F2A73A;
  box-sizing: border-box;
  max-height: 150px;
  margin-top: 2px;
  overflow-y: hidden;
  transition: max-height .2s;
}
/*
.resume-button:active {
  background-color: #404040;
  color: #fff;
  transition: none;
}
*/

.hs-warning {
  display: none;
  max-height: 100% !important;
}
/* Styling Autocomplete */
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
.ui-front {
  z-index: 100;
}
.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: none;
  max-height:150px;
  overflow-y:auto;
}
.ui-widget-content {
  background-color: #404040;
  color: #fff;
}
.ui-menu-item {
  cursor: pointer;
  padding: 5px;
  transition: background-color .1s;
}
.ui-menu-item:hover {
  background-color: #636363;
}
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extra Form Styling */
.focus {
  box-shadow: inset 1px -50px 0px -1px #404040 !important;
  padding-left:.65em !important;
  color: white !important;
}