/* GENERAL */
html {
    overflow-x: hidden;
    transition: font-size .5s;
}
body {
    top: 0;
}
@media screen and (max-width:1280px) {
  html {
    font-size: 80%;
  }
}
a {
    text-decoration: none;
    color: #1B8EB9;
}
a:hover {
    color: #EF5D93;
    border-bottom: 2px #EF5D93 solid;
}
a:active {
    color: #EF5D93;
    border-bottom: 2px #EF5D93 solid;
}
.top-bar_li:hover,
.init_submit:hover,
.form_finish input[type=submit]:hover,
input[type="radio"] + label:hover,
.cancel_reg:hover,
.add_link:hover, 
.registration_form input[type="checkbox"]:hover,
.check_agree:hover,
.dropdown:hover,
.dropdown option:hover {
    cursor: pointer;
}
.init_input:focus,
.init_submit:focus,
.registration_form input[type=email]:focus,
.registration_form input[type=submit]:focus,
.registration_form input:not([type]):focus,
.registration_form input[type="checkbox"]:focus,
.dropdown:focus {
    outline: none;
}
.light {
    /*  font-family: 'Brown';*/
    font-weight: 300;
}
.center {
    text-align: center;
}

input[type=submit] {
    position: relative;
    font-size: 1em;
    background-color: #1b8fb9;
    border: 2px solid #1B8EB9;
    color: white;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}
input[type=submit]:hover {
    background-color: #EF5D93;
    border-color: #EF5D93;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill,
input:-moz-autofill, textarea:-moz-autofill, select:-moz-autofill,
input:-o-autofill, textarea:-o-autofill, select:-o-autofill { /* Override Autofills */
    background:none !important;
    background-color:rgba(0,0,0,0) !important;
    color: #fff !important;
}
input:focus:-webkit-autofill, textarea:focus:-webkit-autofill, select:focus:-webkit-autofill {
    -webkit-text-fill-color:#fff !important;
}
input:focus:-moz-autofill, textarea:focus:-moz-autofill, select:focus:-moz-autofill {
    -moz-text-fill-color:#fff !important;
}
input:focus:-o-autofill, textarea:focus:-o-autofill, select:focus:-o-autofill {
    -o-text-fill-color:#fff !important;
}
/* PAGE MODULES */

.background {
    position: fixed;
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    height: auto;
}
.panel {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.panel.white {
    background-color: rgba(255, 255, 255, .8);
}

.trigrid {
    background-image: url(/static/img/svgtriangles/trigrid-tile-5pct.svg);
    background-size: 107.2px 120px;
    background-position: center top;
    position: absolute;
    width: 100%;
    top: 0;
    overflow: hidden;
}
/* NAV */
.top-bar_ul {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #1B8EB9;
    position: fixed;
/*    max-width: 964.8px;*/
    left: 0%;
    right: 0%;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, .95);
    transition: background-color .5s;
}
.top-bar_ul.skrollable-between {
    background-color: rgba(255, 255, 255, 0);
}
.top-bar_li {
    display: inline;
    margin: 1.1%;
}
.top-bar_li.active a {
    color: #EF5D93;
    padding-bottom: 3px;
}
.top-bar_li a:hover {
    border-bottom: 0;
}
.top-bar_li:hover {
    color: #EF5D93;
    padding-bottom: 1px;
}
/* Nav sliding bar */
.gu-sliding-bar {
    transition: all 0.2s ease;
    background: #EF5D93;
    height: 2px;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.hamburger {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 30px;
    height: 30px;
    padding: 15px;
    cursor: pointer;
}

.top-bar_ul .left {
    position: absolute;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    left: 0;
}

.top-bar_ul a.secondary {
    color: #918f8c;
    font-weight: 300;
}
/* SPLASH */
.splash {
    top: 0;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom:0;
    z-index:2;
    transform: translate3d(0, 0, 0);
    transition:height 2s, padding 1.2s, background-color 1.2s, transform 1s;
    height: auto;
    position: absolute;
}
.splash.reg {
    transform: translate3d(-100%, 0, 0);
    overflow: visible;
}
.splash.dim {
    background-color: rgba(0,0,0,.8);
}
.logo {
    width: 190px;
    height: 240px;
    margin: 0 auto;
    margin-top: 8%;
    background-image: url(../img/logo-poly.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.title {
    color: #EF5D93;
    font-size: 3em;
    font-weight: bold;
    /*	font-family: 'Brown';*/
    margin: 0 auto;
    margin-top: 3%;
    text-transform: uppercase;
}
.title>span {
    margin-left: 10px;
}
.hr {
    margin: 0 auto;
    margin-top: 2%;
    height: 4px;
    width: 100px;
    background-color: #1B8EB9;
    border: 0;
}
.slogan {
    margin-top: 3%;
    font-size: 1.5em;
    color: #EF5D93;
    font-weight: 300;
}
.main_cta {
    /* this is the button or text field in the center of the splash. */
    margin-top: 1.5%;
    background-color: #1B8EB9;
    border: none;
    padding: 8px;
    font-size: 1.2em;
    text-align: center;
    width: 90%;
    max-width: 290px;
    display: inline-block;
    text-transform: uppercase;
    color: white;
}
.main_cta:hover {
    background-color: #3783AB;
}
.main_cta:active {
    background-color: #317599;
}
.main_cta:focus {
    color: #EF5D93;
}
.init_reg {
    margin-top: 1.5%;
}
.init_reg * {
    margin-bottom: 10px;
}
.init_input {
    font-size: 1em;
    border: 2.5px solid #1B8EB9;
    padding: 6px;
    font-weight: 300;
    box-sizing: border-box;
    text-indent: 6px;
    box-shadow: inset 1px 0px 0px -1px #404040;
    transition: box-shadow .2s, border .2s, color .2s;
}
.init_input::-webkit-input-placeholder, 
.init_input::-moz-input-placeholder,
.init_input::-o-input-placeholder {
    color: #1B8EB9;
    font-weight: 300px;
    text-transform: capitalize;
}
.init_input:focus::-webkit-input-placeholder, 
.init_input:focus::-moz-input-placeholder,
.init_input:focus::-o-input-placeholder {
    color: #fff;
}
.init_input:focus {
    color: #fff;
    box-shadow: inset 1px -50px 0px -1px #404040;
    border-color: #404040;
}
.init_submit {
    position: relative;
    font-size: 1em;
    background-color: #1b8fb9;
    border: 2px solid #1B8EB9;
    color: white;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
}
.init_submit:hover {
    background-color: #EF5D93;
    border-color: #EF5D93;
}
.datetime {
    color: #EF5D93;
    font-size: .8em;
    text-transform: uppercase;
}
/* CONTENT */
#rest {
    margin-bottom: 40px;
}
#rest h2 {
    text-align: center;
    font-size: 24px;
}
/* REGISTRATION */
.cancel_reg {
    opacity: 0;
    clip: rect(0,0,0,0);
    transition: opacity .5s, clip .5s;
}

.reg.cancel_reg {
    clip: auto;
    opacity: 1;
}
.double {
    position: relative;
    width: 200%;
    height: 100%;
    height: auto;
    left: 0; /* CHANGE THIS TO -100% TO MAKE REG DEFAULT MAIN PANEL */
    top: 0;
    transition: left 1s;
}
.double_left {
    width: 50%;
    float: left;
    height: auto;
    padding-top: 60px;
    padding-bottom: 5%;
}
.double_right {
    width: 50%;
    float: right;
    height: auto;
    padding-top: 4%;
    padding-bottom: 8%;
    transition: padding .5s;
}
.clearfix {
    clear: both;
}
/* REGISTRATION FORM */
.registration_form {
    width: 80%;
    max-width: 964px !important;
    height: 100%;
    margin: 0 auto;
    top: 0;
    text-align: left;
}
.registration_form label { 
    text-transform: uppercase;
    color: #1B8EB9;
    display: block;
    margin-bottom: 7px;
    font-weight: 400;
    font-size:1.1em;
}
.row {
    margin-bottom:40px !important;
}
span.optional {
    font-weight: 300;
}
.two.fields .field {
    margin-bottom:0;
}
.registration_form input[type=email],
.registration_form input[type=text],
.registration_form input:not([type]),
.registration_form ul.tagit {
    border:none;
    box-shadow: inset 1px -3px 0px -1px rgba(145,143,140,0.3);
    color: #121212;
    background: none;
    font-size: 1em;
    font-weight: 300;
    height: 35px;
    padding: .65em .65em .65em 0;
    transition: box-shadow .2s, padding .2s, color .2s;
}
.ui.form ::-webkit-input-placeholder{color:#AAA;}
.ui.form ::-moz-placeholder{color:#AAA;}
.ui.form :focus::-webkit-input-placeholder{color:#fff;}
.ui.form :focus::-moz-placeholder{color:#fff;}
/* Validation Styles */
.registration_form input[type=email][required]:valid,
.registration_form input[type=text][required]:valid,
.registration_form input:not([type])[required]:valid,
.dropdown dt a.valid {
    box-shadow: inset 1px -3px 0px -1px #1B8EB9;
    color: #121212;
}
.registration_form input[type=email][required]:valid + .nag,
.registration_form input[type=text][required]:valid + div.nag,
.registration_form input:not([type])[required]:valid + .nag,
.valid + .nag {
    max-height: 0;
}
.registration_form input[type=email]:invalid,
.registration_form input[type=text].invalid,
.registration_form input:not([type]).invalid,
.invalid {
    box-shadow:inset 1px -3px 0px -1px #F3C788 !important; /* To override the dropdown style */
}
.errorsPresent {
    max-height: 0;
    overflow-y: hidden;
    margin-bottom: 15px;
    font-size: 1.2em;
}
.nag {
    width: 100%;
    font-weight: 300;
    color: #F2A73A;
    box-sizing: border-box;
    max-height: 150px;
    margin-top: 2px;
    overflow-y: hidden;
    transition: max-height .2s;
}
/* Focus Styles */
.registration_form input[type=email]:focus,
.registration_form input[type=text]:focus,
.registration_form input:not([type]):focus {
    box-shadow: inset 1px -50px 0px -1px #404040 !important; /* To override valid style */
    color: white !important;
    padding-left:.65em;
}
.shirt_size {
    display: flex;
    justify-content: space-between;
}
.radio_select {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.radio_select td {
    border: 0;
}
input[type="radio"] {
    display: block;
    clip: rect(0,0,0,0);
    opacity: 0;
    height: 0px;
    width: 0px;
}
input[type="radio"] + label {
    background-color: #EBEBEB;
    text-transform: none;
    height: 19px;
    padding: 11px;
    padding-top: 8px;
    padding-bottom: 11px;
    color: #404042;
    font-weight: 300;
    font-size: .9em;
    box-shadow: inset 1px 0px 0px -1px #1B8EB9;
    transition: box-shadow .1s, color .1s;
}
input[type="radio"] + label:hover, input[type="radio"]:focus + label {
    background-color: #E2E1DF;
}
input[type="radio"]:checked + label {
    color:#fff;
    box-shadow: inset 1px -50px 0px -1px #1B8EB9;
}
.registration_form input[type="checkbox"] {
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    margin-top:1px !important;
    border:2px solid rgba(59,142,185,0.5);
    background-color:#fff;
    padding:6px;
    box-shadow: inset 1px 0px 0px -1px rgba(59,142,185,0.5);
    background-image:url("/static/img/check52.svg");
    background-size: 130% auto;
    background-repeat: no-repeat;
    background-position: 50% -300%;
    transition:box-shadow .1s, border .1s, background-position .1s;
}
.registration_form input[type="checkbox"]:checked {
    background-position: 50% 50%;
    box-shadow: inset 1px -25px 0px -1px rgba(59,142,185,0.5);
}
/* Custom Dropdown Styling */
.dropdown dd, .dropdown dt,
.dropdown ul, .dropdown dl,
dl, dd {
    margin:0 !important;
    padding:0 !important;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
}
.dropdown dl {
    width:100%;
    font-family: 'Brown', sans-serif;
    box-sizing: border-box;
    height: 35px;
}
.dropdown dd {
    position: relative;
}
.dropdown dt a {
    background:rgba(0,0,0,0) url(/static/img/arrow_down.svg) no-repeat scroll right center;
    background-size: 1em auto;
    box-sizing: border-box;
    height: 35px;
    display: block;
    padding: .65em .65em .65em 0;
    box-shadow: inset 1px -3px 0px -1px rgba(145,143,140,0.3);
    width: 100%;
    color: #AAA;
    transition: box-shadow .2s, padding .2s, color .2s;
}
.dropdown a {
    font-weight: 300;
    font-size: 1em;
    line-height: normal;
}
.dropdown a:hover {
    border: 0;
}
.dropdown dt a span {
    cursor: pointer;
    display: block;
}
.dropdown dd ul {
    background-color: #404040;
    height: auto;
    max-height: 0;
    overflow-y: hidden;
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: max-height .2s;
}
.dropdown span.value {
    display:none;
}
.dropdown dd ul li a {
    padding:.65em;
    color: white;
    display:block;
}
.dropdown dd ul li {
    transition: background-color .1s;
}
.dropdown dd ul li:hover {
    background-color: #737373;
}
/* Styling tags -- overthrowing a lot of tagit stuff */
ul.tagit {
    height: auto !important;
    max-height: 75px;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
    overflow-y: hidden;
    z-index: 3;
    box-sizing: border-box;
    cursor: text;
}
ul.tagit input {
    height: 30px !important;
    margin: 0 !important;
    box-shadow: none !important;
}
ul.tagit input:focus {
    box-shadow: none !important;
}
ul.tagit li.tagit-choice {
    background-color: #404040;
    height: 30px !important;
    margin-bottom: 0 !important;
    margin-top: 2px !important;
    padding: .25em .65em .3em .65em !important;
    box-sizing: border-box;
    z-index: 4;
}
ul.tagit li.tagit-new {
    padding: 0 !important;
    margin-top: 2px !important;
}
/* Styling Autocomplete */
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}
.ui-front {
    z-index: 100;
}
.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: none;
    max-height:150px;
    overflow-y:auto;
}
.ui-widget-content {
    background-color: #404040;
    color: #fff;
}
.ui-menu-item {
    cursor: pointer;
    padding: 5px;
    transition: background-color .1s;
}
.ui-menu-item:hover {
    background-color: #636363;
}
.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* Extra Form Styling */
.focus {
    box-shadow: inset 1px -50px 0px -1px #404040 !important;
    padding-left:.65em !important;
    color: white !important;
}
/* PANEL GENERAL */

.panels {
    top: 0;
    padding-top: 870px;
/*    transform: translate3d(0, 870px, 0);*/
    transition: transform 1s;
    padding-bottom: 1200px;
}

.triangle {
    background-repeat: no-repeat;
    width: 100%;
    background-position: center top;
    padding: 0;
    color: #404040;
}

.triangle h1 {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1.5em;
}

.triangle p {
    font-size: 1.5em;
    font-weight: 300;
}

.triangle.verbose p {
    font-size: 1em;
}

.triangle > div {
    margin-left: auto;
    margin-right: auto;
    display:table;
    width: 80%;
    max-width: 964.8px;
    height: inherit;
}

.triangle > div > div {
    display: table-cell;
    vertical-align: middle;
    align-self: center;
}

.triangle article {
    padding-top: 180px;
    padding-bottom: 180px;
    margin-top: -180px;
    margin-bottom: -180px;
}

.triangle.right article {
    float: right;
}

.triangle.right h1,h2>span {
    text-align: right;
}

.triangle article h1:first-child {
    margin-top: 0;
}

section .foreground {
/*
    height: 80%;
    margin-top: 10%;
*/
}

section .background {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    width: 0;
    height: inherit;
    z-index: -9;
}

section .background > div {
    position: absolute;
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    z-index: -9;
}

.triangle.left .background > .back {
    background-position: right center;
    right: 0;
}

.triangle.right .background > .back {
    background-position: left center;
    left: 0;
}

section .background > .left {
    background-position: right center;
    right: 0;
}

section .background > .right {
    background-position: left center;
    left: 0;
}

/* PANEL SPECIFIC */

.about {
    margin-top: 90px;
    height: 660px;
}

.about article {
    max-width: 589.6px;
    padding-bottom: 210px;
}

.about article h2 {
    font-size: 1.6em;
    color: #918f8c;
    font-weight: 300;
}

.about .background > .back {
    width: 2572.8px;
    margin-right: -643.2px;
    height: 2520px;
    background-image: url(/static/img/svgtriangles/0bg_0_grey-triangle.svg);
}


.schedule {
    height: 1740px;
    color: white;
    text-align: justify;
}

.schedule article {
    max-width: 482.4px;
    padding-bottom: calc(180px + 2em);
}

.schedule article h1 {
    text-transform: uppercase;
}

.schedule article h2 {
    margin-top: 1em;
    margin-bottom: -.2em;
}

.schedule article h2 > span {
    font-weight: 300;
    float: right;
}

.schedule article > .day {
    margin-top: 30px;
    margin-bottom: 90px;
}

.schedule .background > .back {
    width: 3055.22px;
    margin-left: -1554.4px;
    height: 3420px;
    background-image: url(/static/img/svgtriangles/0bg_1_sky-trapezoid.svg);
}

.sponsors {
    margin-top: 180px;
    margin-bottom: 180px;
}

.sponsors p {
    margin-top: 1.5em;
}

.sponsors .sponsor-row {
    word-spacing: 50px;
}

.sponsors .sponsor-row h3 {
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
}

.sponsors a {
    opacity: 0.8;
    border-bottom: none;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.sponsors a:hover {
    opacity: 1.0;
}

.sponsors img {
    height: auto;
    max-height: 50px;
    max-width: 100%;
    margin: 25px 0px;
    vertical-align: middle;
}

.sponsors .sponsor-row.tera {
    word-spacing: 70px;
}

.sponsors .sponsor-row.tera img {
    max-height: 100px;
}

.sponsors .sponsor-row.peta {
    margin-top: 30px;
}

.sponsors .sponsor-row.peta img {
    max-height: 120px;
}

.sponsors h2 {
    font-weight: 300;
    color: #918f8c;
}

.sponsors h2.other {
    font-size: 1.2em;
}

.faq article h2 {
    margin-top: 1em;
    margin-bottom: -.2em;
}

/* SECONDARY BACKGROUND ELEMENTS */
section .background > .fore {
    z-index: -6;
    transition: margin 1s;
}
.fore.blue-staggered {
    width: 214.4px;
    height: 180px;
    background-image: url(/static/img/svgtriangles/2bg_0_blue-staggered-triangles.svg);
    top: 120px;
    margin-right: 536px;
}

.fore.blue-staggered.translated {
    margin-right: 0px;
}

.fore.pink-overlapping {
    width: 268px;
    height: 390px;
    background-image: url(/static/img/svgtriangles/2bg_2_pink-overlapping-triangles.svg);
    top: 675px;
    margin-right: 428.8px;
}

.fore.pink-overlapping.translated {
    margin-right: 900px;
}

.fore.green-backtoback {
    width: 160.8px;
    height: 120px;
    background-image: url(/static/img/svgtriangles/2bg_1_green-backtoback-triangles.svg);
    top: 480px;
    margin-left: 268px;
}

.fore.green-backtoback.translated {
    margin-left: 150px;
}

.fore.green-facing {
    width: 160.8px;
    height: 210px;
    background-image: url(/static/img/svgtriangles/2bg_3_green-facing-triangles.svg);
    top: 975px;
    margin-left: 428.8px;
}

.fore.green-facing.translated {
    margin-left: -400px;
}


.fore.white-tower {
    width: 160.8px;
    height: 300px;
    background-image: url(/static/img/svgtriangles/2bg_4_white-tower-triangles.svg);
    top: 1350px;
    margin-right: 321.6px;
}

section .background > .mid {
    z-index: -8;
}

.mid.pink {
    width: 1179.2px;
    height: 1320px;
    background-image: url(/static/img/svgtriangles/1bg_0_pink-triangle.svg);
    top: 210px;
    margin-left: 160.8px;
}

.mid.fallback-orange {
    width: 1179.2px;
    height: 1470px;
    background-image: url(/static/img/svgtriangles/1bg_1_fallback-color-dodge-orange-triangle.svg);
    top: 1530px;
    margin-right: 268px;
}

/* ETC */

.caps {
    text-transform: uppercase;
}

.blue {
    color: #1b8eb9;
}

/* RESPONSIVE */
@media screen and (max-width: 1150px) {
    .registration_form {
        width:80%;
    }
}
@media screen and (max-width: 750px) {
    .logo {
        margin-top: 5%;
    }
    .title {
        font-size: 3em;
    }
    .shirt_size {
        flex-direction: column;
    }
    .registration_form.center {
        text-align:left;
    }
    .row {
        margin-bottom:0 !important;
    }
    .two.fields .field {
        margin-bottom:16px;
    }
    input[type="radio"] + label {
        font-size:1em;
        padding-left:15px;
        padding-right:15px;
    }
    .double_right {
        padding-top: 8%;
    }
    .top-bar_ul {
        padding-top: 45px;
        padding-bottom: 15px;
        height: 0px;
        width: 60px;
        margin-left: 0;
        overflow: hidden;
        transition: height .5s, width .5s, margin .5s, clip .5s;
    }
    .top-bar_ul > li {
        display: block;
        clip: rect(0, 0, 0, 0);
        margin: 15px;
    }
    
    .top-bar_ul > li.reg.cancel_reg {
        clip: rect(0,0,0,0);
    }
    nav.open .top-bar_ul > li.reg.cancel_reg, nav.open .top-bar_ul > li {
        clip: auto;
    }
    .hamburger {
        display: block
    }
    nav.open .top-bar_ul {
        height: 225px;
        width: 100%;
        background-color: rgba(255, 255, 255, .95);
    }
    .splash {
        transition: background-color .5s, transform .5s;
    }
    .top-bar_ul .left {
        position: absolute;
        float: none;
        margin-top: -27px;
        margin-bottom: 0;
        margin-left: 10%;
        width: 80%;
        z-index: 1200;
    }
    .top-bar_ul.skrollable-between {
      background-color: rgba(255, 255, 255, 0);
    }
    .gu-sliding-bar {
        display: none
    }
    .triangle article {
        padding-top: 60px;
        padding-bottom: 60px;
        margin-top: -60px;
        margin-bottom: -60px;
    }
    
}
@media screen and (max-width: 500px) {
    .title {
        font-size: 2em;
    }
    .init_reg {
        margin-top: 60px;
    }
    .init_reg * {
        width: 80%;
    }
    section.triangle {
/*        padding-top: 300px;*/
/*        padding-bottom: 300px;*/
    }
    section .background {
/*        transform: scale(1.5, 1.5);*/
        transform-origin: center top;
    }
    
}

.hamsvg > .bar {
    transform: rotate(0) translateY(0) translateX(0);
    transform-origin: 0px 4px;
    transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out, fill .4s ease-in-out;
}

.hamsvg {
    transition: transform 0.2s ease-in-out;
}

.hamsvg > .bar:nth-of-type(1) {
    transform-origin: 0px 25px;
}

nav.open .hamsvg > .bar:nth-of-type(1) {
    transform: rotate(-45deg) translate(0, -2px);
}

nav.open .hamsvg > .bar:nth-of-type(2) {
    opacity: 0;
}

nav.open .hamsvg > .bar:nth-of-type(3) {
    transform: rotate(45deg) translate(0, 2px);
}

nav.open .hamsvg {
    transform: translate(5px, 0);
}

.parallax__layer.back {
/*  transform: translateZ(-2px) scale(3) translateY(-50%);*/
}

.parallax__layer.mid {
/*  transform: translateZ(-1px) scale(2) translateY(-50%);*/
}

.parallax__layer.fore {
/*  transform: translateZ(0) translateY(-50%);*/
}

.parallax__layer {
    position: absolute;
}














/* SIGN UP FOR UPDATES -- old stuff underneath here, look out*/
#sign-up-for-updates input[type=email] {
    outline: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}
/* turn placeholder text white */

#sign-up-for-updates input[type=email]::-webkit-input-placeholder {
    color: white;
}
#sign-up-for-updates input[type=email]::-ms-input-placeholder {
    color: white;
}
#sign-up-for-updates input[type=email]:-moz-placeholder {
    color: white;
}
#sign-up-for-updates input[type=email]::-moz-placeholder {
    color: white;
}
#sign-up-for-updates input[type=email]:focus {
    background-color: white;
    box-shadow: inset 0px -3px 0px #EF5D93;
}
/* turn placeholder text gray on focus */

#sign-up-for-updates input[type=email]:focus::-webkit-input-placeholder {
    color: gray;
}
#sign-up-for-updates input[type=email]:focus::-ms-input-placeholder {
    color: white;
}
#sign-up-for-updates input[type=email]:focus:-moz-placeholder {
    color: white;
}
#sign-up-for-updates input[type=email]:focus::-moz-placeholder {
    color: white;
}
#sign-up-for-updates.signed-up input[type=email] {
    transition: background-color 0.3s, box-shadow 1.0s;
    box-shadow: inset 0px -100px 0px #6d7;
}
/* after registering */

.toast {
    display: none;
    position: absolute;
    background-color: rgba(53, 195, 71, 0.9);
    color: white;
    padding: 20px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
}
#thanks h4 {
    font-size: x-large;
    margin: 0px;
}