#header {
	right: 10px;
	top: 10px;
	
	vertical-align: middle;
	text-align: center;
}
#header a {
	text-decoration: none;
	color: #EF5D93;
/*	font-size: 2em;
	border-bottom: 2px solid #EF5D93;*/
	display: inline-block;
	padding: 0 1em;
}
#header img {
	height: 125px;
	margin: auto;
	display: block;
}
a {
	color: #EF5D93;
}
#centered {
	width: 90%;
	margin: auto;
	max-width: 700px;
}
