{% extends "centered.html" %}

{% block head %}
{{ super() }}

{% endblock %}

{% block centered_content %}

<!--<h1>Hi this is hack at brown</h1>!-->
<!--<h2 style='font-family: cursive'>*~.*~ the most epic hackathon ever *~.*~</h2>!-->

<div id='mailingformcontainer'>
    <form action='/sign_up_for_updates' method='POST' id='mailingform'>
        <input id='email' type='email' name='email' placeholder='jcarberry@brown.edu'/>
        <br/>
        <input type='submit' value='GET NOTIFIED'/>
    </form>
</div>


{% endblock %}
