{# the base template for ordinary pages. put shared markup and styles here #}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset='utf-8'/>
		<meta name="viewport" content="width=device-width, user-scalable=no"/>
        
        <!-- Stylesheets -->
        <link rel='stylesheet' href='/static/css/normalize.css'/> 
        <link rel='stylesheet' href='/static/font/Brown/stylesheet.css'>
		<link rel='stylesheet' href='/static/css/base.css'/>

        <!-- Social Data -->
        <meta property="og:title" content="Hack@Brown 2015"/>
        <meta property="og:url" content="http://hackatbrown.org"/>
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="Hack@Brown 2015"/>
        <meta property="og:description" content="Make, Play, Learn. Join us and 400 of your friends 
        from February 7-8 for Brown's annual 24 hour hackathon." />
        <meta property="og:image" content="http://hackatbrown.org/static/img/og_image.png"/>

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Hack@Brown 2015">
        <meta name="twitter:description" content="Make, Play, Learn. Join us and 400 of your friends 
        from February 7-8 for Brown's annual 24 hour hackathon.">
        <meta name="twitter:creator" content="@hackatbrown">
        <meta name="twitter:image:src" content="http://hackatbrown.org/static/img/og_image.png">
        <meta name="twitter:domain" content="hackatbrown.org">
        <meta name="twitter:site" content="@hackatbrown"> 

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon" />

        <!-- Apple Touch Icons -->
        <link rel="apple-touch-icon" href="/static/favicon/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-touch-icon-152x152.png" />

        <!-- Windows 8 Tile Icons -->
        <meta name="msapplication-square70x70logo" content="/static/favicon/smalltile.png" />
        <meta name="msapplication-square150x150logo" content="/static/favicon/mediumtile.png" />
        <meta name="msapplication-square310x310logo" content="/static/favicon/largetile.png" />
        
        <!-- Javascript -->
        <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.50/jquery.form.min.js'></script>
      
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-one-page-nav/3.0.0/jquery.nav.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script type="text/javascript" src='/static/js/gutabslider.js'></script>
        
        <script type="text/javascript" src='/static/js/prefixfree.min.js'></script>
      
		<title>
		{% block title %}
		Hack@Brown
		{% endblock %}
		</title>
				
		{% endblock %}
	</head>
	<body>
        {% block header %}
            <header>
                <nav>
<!--                    There's probably a better way to do this-->
                    {% block nav %}
                    {% endblock %}
                </nav>
            </header>
        {% endblock %}
		{% block content %}
		
		{% endblock %}
	</body>
</html>

