{# the base template for ordinary pages. put shared markup and styles here #}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset='utf-8'/>
		<meta name="viewport" content="width=device-width, user-scalable=no"/>
        
        <!-- Stylesheets -->
        <link rel='stylesheet' href='/static/css/normalize.css'/> 
        <link rel='stylesheet' href='/static/font/Brown/stylesheet.css'>
		<link rel='stylesheet' href='/static/css/base.css'/>
        
        <!-- Javascript -->
        <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.50/jquery.form.min.js'></script>
		
		<title>
		{% block title %}
		Hack@Brown
		{% endblock %}
		</title>
				
		{% endblock %}
	</head>
	<body>
		{% block content %}
		
		{% endblock %}
	</body>
</html>

