{% extends "base.html" %}

{% block title %}
Check-in - Hack@Brown 2015
{% endblock %}

{% block headcss %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.2/css/selectize.min.css"/>
<link rel='stylesheet' href='/static/semantic-final/semantic.min.css' />

{% endblock %}

{% block headjs %}
{{ super() }}
<script type="application/javascript" src="/static/semantic-final/semantic.min.js"></script>
{% endblock %}

{% block nav %}
<div class="hamburger">
  <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <g class="hamsvg" sketch:type="MSLayerGroup">
      <rect class="bar" fill="#404040" sketch:type="MSShapeGroup" x="0" y="25" width="30" height="5"></rect>
      <rect class="bar" fill="#404040" sketch:type="MSShapeGroup" x="0" y="12.5" width="30" height="5"></rect>
      <rect class="bar" fill="#404040" sketch:type="MSShapeGroup" x="0" y="0" width="30" height="5"></rect>
    </g>
  </svg>
</div>
<div class="hamburger over"></div>
<ul class="top-bar_ul" data-0="" data-1="">
  <li class="top-bar_li left close" id="back_top"><a class="secondary" href="/dashboard">Close</a></li>
  <li class="top-bar_li active" id="check_hacker_top"><a href="#check_hacker">Check-in</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
  <div class="inner_container">
    <div class="panes">
      <div class="pane pane0 active white">
        <section id="input" class="panel hero condensed-bottom">
          <form id='checkin' class="ui form" method='POST' >
            <div class="field">
              <div class="ui title input">
                <input type="text" name="name/email" id='search' placeholder="Search for a hacker, volunteer, or mentor"/>
              </div>
            </div>
<!--            <input type='submit' value='Check in'</input>-->
          </form>
        </section>
        <section id="additional" class="panel hero condensed-top">
          <p>or</p>
          <div class="flex wrap">
            <div class="flex-left">
              <div id="add-hacker" class="ui pink button">
                Add New Hacker
              </div>
              <div id="add-hacker" class="ui pink button">
                Add New Volunteer
              </div>
              <div id="add-hacker" class="ui pink button">
                Add New Mentor
              </div>
            </div>
            <div id="admin-tools" class="ui button">
              Admin Tools
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<style>
  .panes {
    width: 100%
  }

  .ui.input.title input {
    font-size: 2.5em !important;
    line-height: 1.8em !important;
    height: auto !important;
  }

  .ui.input.minimal input:focus {
    box-shadow: inset 1px -3px 0 -1px #404040 !important;
    color: #404040 !important;
    padding-left: inherit;
  }

  .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flex.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .status {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 2px;
    color: white;
  }

  .panes .pane {
    width: 100%
  }

  .ui.form .selectize-control {
     height: auto;
  }

  .ui.form .selectize-control.single>.selectize-input {
    height: auto;
  }

  .ui.form .selectize-control.single>.selectize-input>* {
     line-height: 1.8em;
     font-size: 2.5em;
  }

  .selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
    cursor: text;
  }
  
  .selectize-input.not-full input {
    width: 100% !important;
  }
  
  .ui.form .selectize-control input:focus {
    box-shadow: none !important;
  }
  
  .selectize-control.single .selectize-input:after {
    display: none;
  }
  
  .selectize-dropdown {
    top: 0 !important;
    position: relative;
    margin-top: -3px;
  }
  
  .textclip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .optgroup-header {
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .caption {
    color: #918f8c;
  }
  
  .active > .caption {
    color: #E2E1DF;
  }

</style>
<!--
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'/>
-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.2/js/standalone/selectize.min.js"></script>

<script type="text/javascript">
  var txt = document.createElement("textarea");
  txt.innerHTML = "{{source}}";
  console.log(txt.value);
  var source = JSON.parse(txt.value);
  
  var $search = $("#search");
  $search.selectize({
    onDropdownOpen: slideOut,
    onDropdownClose: slideIn,
    options: source,
    optgroups: [
      {id: 'Hacker', name: 'Hacker'},
      {id: 'Volunteer', name: 'Volunteer'},
      {id: 'Mentor', name: 'Mentor'}
    ],
    render: {
      item: function(item, escape) {
        return '<div>' +
          (item.name ? '<span class="select_name">' + escape(item.name) + '</span>' : '')
          '</div>';
      },
      option: function(item, escape) {
        var label = item.name || item.email;
        var caption = item.name ? item.email : null;
        return '<div class="flex">' +
          '<span class="label textclip">' + escape(label) + '</span>' +
          (caption ? '<span class="caption textclip">' + escape(caption) + '</span>' : '') +
          '</div>';
      }
    },
    labelField: 'name',
    valueField: 'id',
    optgroupField: 'kind',
    optgroupLabelField: 'name',
    optgroupValueField: 'id',
    optgroupOrder: ['Hacker', 'Volunteer', 'Mentor'],
    searchField: ['name'],
    plugins: ['optgroup_columns'],
    maxItems: 1,
  });
  
  function slideOut($element, time) {
    time = time || 200;
    $element.stop().hide().slideToggle(time);
  }

  function slideIn($element) {
    $element.stop().show().slideToggle(200);
  }
</script>


{% if status == "true" %}
  <div class="status" style="background:lightgreen">{{ message }}</div>
{% endif %}
{% if status == "false" %}
  <div class="status" style="background:red">{{ message }}</div>
{% endif %}
{% endblock %}
