{% extends "base.html" %}

{% block title %}
Check-in - Hack@Brown 2015
{% endblock %}

{% block headcss %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.2/css/selectize.min.css"/>
<link rel='stylesheet' href='/static/semantic-final/semantic.min.css' />
<link rel='stylesheet' href='/static/css/checkin.css' />

{% endblock %}

{% block headjs %}
{{ super() }}
<script type="application/javascript" src="/static/semantic-final/semantic.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
<script type="text/javascript" src="/static/js/checkin.js"></script>
{% endblock %}

{% block nav %}
<div class="hamburger">
  <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <g class="hamsvg" sketch:type="MSLayerGroup">
      <rect class="bar" fill="#404040" sketch:type="MSShapeGroup" x="0" y="25" width="30" height="5"></rect>
      <rect class="bar" fill="#404040" sketch:type="MSShapeGroup" x="0" y="12.5" width="30" height="5"></rect>
      <rect class="bar" fill="#404040" sketch:type="MSShapeGroup" x="0" y="0" width="30" height="5"></rect>
    </g>
  </svg>
</div>
<div class="hamburger over"></div>
<ul class="top-bar_ul" data-0="" data-1="">
  <li class="top-bar_li left close" id="back_top"><a class="secondary" href="/dashboard">Close</a></li>
  <li class="top-bar_li active" id="check_hacker_top"><a href="#check_hacker">Check-in</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
  <div class="inner_container">
    <div class="panes">
      <div id="scope" class="pane pane0 active white" ng-app='checkinApp' ng-controller="Controller">
        <section id="input" class="panel hero condensed-bottom">
          <form id='checkin' class="ui form" method='POST' >
            <div class="field">
              <div class="ui title input">
                <input type="text" ng-model='hackerID' ng-change="requestMoreInfo()" name="name/email" id='search' placeholder="Search for a hacker, volunteer, or mentor"/>
              </div>
            </div>
          </form>
        </section>
        <section id="missing-info" ng-show="missingInfo">
          <h4>Some information is missing:</h4>
          <form class="ui form">
            <div class="field">
              <label for="phone_number">
              Cell Number
              <span class="optional">(Optional)</span>
              </label>
              <div class="ui icon input">
                <input id="phone_number" type="tel" name="phone_number" placeholder="(123) 456-7890" value="(119) 135-6804">
                <i class="icon"></i>
              </div>
            </div>
          </form>
        </section>
        <section id="reminders" ng-show='reminders'>
          <h4>Reminders</h4>
          <div class="reminder">
            Give t-shirt and swag bag:
            <br>
            <label for="shirt">T-Shirt Size</label>
            <div class="flex wrap">
              <div id="shirt" class="flex-left">
                <div class="shirt_gen">
                  %% hacker.shirt_gen %%
                </div>
                <div class="shirt_size">
                  %% hacker.shirt_size %%
                </div>
              </div>
            </div>
          </div>
          <div ng-repeat="reminder in reminders">
            <div class="reminder">
              %%reminder%%
            </div>
          </div>
        </section>
        <section id="status" ng-show="showStatus">
          <h4>STATUS</h4>
          <div class="inline-flex">
            <div class="admit_status confirmed">
              <span>Confirmed</span>
            </div>
            <div class="checkin field">
              <input id="checkin-button" type="button" value="Check In" class="ui teal button">
            </div>
            <span class="help-text">(or press ENTER)</span>
          </div>
        </section>
        <section id="additional" class="panel hero condensed-top">
          <p>or</p>
          <div class="flex wrap">
            <div class="flex-left">
              <div id="add-hacker" class="ui pink button">
                Add New Hacker
              </div>
              <div id="add-hacker" class="ui pink button">
                Add New Volunteer
              </div>
              <div id="add-hacker" class="ui pink button">
                Add New Mentor
              </div>
            </div>
            <div id="admin-tools" class="ui button">
              Admin Tools
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.2/js/standalone/selectize.min.js"></script>

<script type="text/javascript">
  var source = {{source|safe}};
  var $search = $("#search");
  $search.selectize({
    onDropdownOpen: slideOut,
    onDropdownClose: slideIn,
    options: source,
    optgroups: [
      {id: 'Hacker', name: 'Hackers'},
      {id: 'Volunteer', name: 'Volunteers'},
      {id: 'Mentor', name: 'Mentors'}
    ],
    render: {
      item: function(item, escape) {
        return '<div>' +
          (item.name ? '<span class="select_name">' + escape(item.name) + '</span>' : '')
          '</div>';
      },
      option: function(item, escape) {
        var label = item.name || item.email;
        var caption = item.name ? item.email : null;
        return '<div class="flex">' +
          '<span class="label textclip">' + escape(label) + '</span>' +
          (caption ? '<span class="caption textclip">' + escape(caption) + '</span>' : '') +
          '</div>';
      }
    },
    labelField: 'name',
    valueField: 'id',
    optgroupField: 'kind',
    optgroupLabelField: 'name',
    optgroupValueField: 'id',
    optgroupOrder: ['Hacker', 'Volunteer', 'Mentor'],
    searchField: ['name'],
    plugins: ['optgroup_columns'],
    maxItems: 1,
  });
</script>


{% if status == "true" %}
  <div class="status" style="background:lightgreen">{{ message }}</div>
{% endif %}
{% if status == "false" %}
  <div class="status" style="background:red">{{ message }}</div>
{% endif %}
{% endblock %}
