{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Hack@Brown 2015 — Dashboard</title>
<link rel='stylesheet' href='/static/css/dashboard.css'/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular-sanitize.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src='/static/js/dashboard.js'></script>
{% endblock %}


{% block content %}
<div id='header' class='vertically-centered vertically-centered-content'>
  <img src='/static/img/logo.png' width="134" height="144"/>
  <h1>Hack@Brown {% if envIsDev %}Dev-{% endif %}{% if isQA %}QA-{% endif %}Dashboard</h1>
</div>

<div ng-app='dashApp' ng-init="getStats()" ng-controller="MainCtrl" >
  <div id='menu_1st_row'  class='menu'>
      <div ng-repeat="(k, v) in countData">
        %%k%%: <span><h2>%%v%% </h2></span>
      </div>
</div>
<br>
<div class="panel-section" id="breakdowns">
  <h2 class='option'>Breakdown</h2>
  <div id='breakdown-charts'>
    <select ng-model='currentChart' ng-change='populateCharts()' ng-options="chart.name for chart in charts" id='chart_types'>
    </select>
      <div id='chart'></div>
      <label ng-show='showChartStatus'><b>%%chartStatus%%</b></label>
  </div>
  <div ng-click='getBreakdowns()'class='button'> Show Numbers</div>
    <div id="breakdown-numbers" ng-show='showBreakdowns'>
    <div ng-repeat="(key, value) in breakdownData">
      <h1>%%key%%</h1>
      <div ng-repeat="(k, v) in value">
        <span><b>%%k%%:</b> %%v%%</span>
      </div>
      <br>
    </div>
  </div>
  <br>
  <div id='menu_2nd_row' class='menu' >
    <div id="downloads" class='panel' >
      <h2 class='option' >Downloads</h2>
      <div class='panel-content'>
        <div ng-click='downloadResumes()'id='resume_download_button' class='button'> Download Resumes (TODO)</div>
        <a href='/dashboard/csv' download="HAB_all_apps_anon.csv"><div class='button' >Download All CSV</div></a>
        {% if admin %}
        <a href='/dashboard/csv?include_personally_identifiable_info=1' download="HAB_all_apps.csv"><div class='button' >Download All CSV <div class='button-subtitle'>Including personal information</div></div></a>
        {% endif %}
      </div>
    </div>
    <div id="email-panel" class='panel' >
      <h2 class='option'> Messages</h2>
		<p><em>Email and SMS</em></p>
    {% if admin %}
		<a href='/dashboard/messages'>Go to messages dashboard</a>
    {% else %}
    <span>Off limits for now</span>
    {% endif %}
    </div>
    <div id="manual-panel" class='panel' >
      <h2 class='option' >Manual</h2>

      <div class='panel-content'>
        <label>Emails</label>
        <input ng-model= "manualEmails" type='text' name='emails' style='text-align: center; width: 100%; height: 50'>
        <label ng-show='showManualStatus' style='display: block' ><b>%%manualStatus%%</b></label>
        {% if admin %}
        <div ng-click='changeStatus("Accept")' class='button'>Accept</div>
        <div ng-click='changeStatus("Remove")' class='button'>Remove</div>
        <div ng-click='changeStatus("Waitlist")' class='button'>Waitlist</div>
        <a style="text-decoration:none" class='button' href="/admin_checkin">Go To Checkin</a>
        {% endif %}
        <div ng-click='lookupHacker()' class='button'>Lookup</div>
        {% if admin %}
        <a style="text-decoration:none" class='button' href="/dashboard/ranking">Go To Ranking Dashboard</a>
        {% endif %}
      </div>
      <div class="found" ng-repeat="hacker in lookupResult.found">
        <span><b>Found <a ng-href="secret/%%hacker.secret%%">%%hacker.email%%</a></b></span><br>
      </div>
      <div class="notFound" ng-repeat="hacker in lookupResult.notFound">
        <span><b>Could not find %%hacker%%</b></span><br>
      </div>
    </div>
  </div>

  <iframe id="email-display" ng-show="displayEmail" >
  </iframe>
  <div class="button"  ng-click="displayEmail = null" ng-show="displayEmail">Close Email</div>
</div>
<a style="text-decoration:none" class='button' href="/dashboard/db_cleanup">DB Cleanup</a>
{% if envIsDev or isQA %}
<script>
  function populateDB() {
    var number = prompt("How many hackers do you want to generate?", "100");
    if (number != null) {
      window.location.href = "/dashboard/__db_populate/" + number;
    }
  }
  function depopulateDB() {
    var number = prompt("How many hackers to you want to eliminate?", "100");
    if (number != null) {
      window.location.href = "/dashboard/__db_depopulate/" + number;
    }
  }
  </script>
  <a style="text-decoration:none" class='button' onclick="populateDB()">DB Populate</a>
  <a style="text-decoration:none" class='button' onclick="depopulateDB()">DB Depopulate</a>
{% endif %}
</div>
{% endblock %}
