{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Hack@Brown 2015 — Dashboard</title>
<link rel='stylesheet' href='/static/css/dashboard.css'/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular-sanitize.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src='/static/js/dashboard.js'></script>
{% endblock %}


{% block content %}
<div id='header' class='vertically-centered vertically-centered-content'>
  <img src='/static/img/logo.png' width="134" height="144"/>
  <h1>Hack@Brown {% if envIsDev %}Dev-{% endif %}Dashboard</h1>
</div>

<div ng-app='dashApp' ng-init="getStats()" ng-controller="MainCtrl" >
  <div id='menu_1st_row'  class='menu'  >
      <div>Hackers Signed Up: <span><h2>%%signupCount%%</h2></span></div>
      <div>Hackers Registered: <span><h2>%%registerCount%%</h2></span></div>
      <br>
      <div><span>Accepted: <h2>%%acceptedCount%%</h2></span></div>
      <div>Waitedlisted: <span><h2>%%waitlistCount%%</h2></span></div>
      <div>Declined: <span><h2>%%declinedCount%%</h2></span></div>
</div>
<br>
<div class="panel-section" id="breakdowns">
  <h2 class='option'>Breakdown</h2>
  <div id='breakdown-charts'>
    <select ng-model='currentChart' ng-change='populateCharts()' ng-options="chart.name for chart in charts" id='chart_types'>
    </select>
      <div id='chart'></div>
      <label ng-show='showChartStatus'><b>%%chartStatus%%</b></label>
  </div>
  <div ng-click='getBreakdowns()'class='button'> Show Numbers</div>
    <div id="breakdown-numbers" ng-show='showBreakdowns'>

      <h1> Schools </h1>
      <div ng-repeat="(key, value) in school">
        <span><b>%%key%%:</b> %%value%%</span>
      </div>
      <br>
      <h1> Year </h1>
      <div ng-repeat="(key, value) in years">
        <span><b>%%key%%:</b> %%value%%</span>
      </div>
      <br>
      <h1> Dietary Restrictions </h1>
      <div ng-repeat="(key, value) in diet">
        <span><b>%%key%%:</b> %%value%%</span>
      </div>
      <br>
      <h1> Shirt Sizes </h1>
      <div ng-repeat="(key, value) in shirt">
        <span><b>%%key%%:</b> %%value%%</span>
      </div>
      <br>
      <h1> Hardware Hack? </h1>
      <div ng-repeat="(key, value) in hardware_hack">
        <span><b>%%key%%:</b> %%value%%</span>
      </div>
      <br>
      <h1> First Hackathon? </h1>
      <div ng-repeat="(key, value) in first_hackathon">
        <span><b>%%key%%:</b> %%value%%</span>
      </div>
      <br>
      <h1> Gender </h1>
      <div ng-repeat="(key, value) in shirt_gen">
        <span><b>%%key%%:</b> %%value%%</span>
      </div>
      <br>
      <h1> Status </h1>
      <div ng-repeat="(key, value) in h_status">
        <span><b>%%key%%:</b> %%value%%</span>
      </div>

    </div>
  </div>

  <div id='menu_2nd_row' class='menu' >
    <div id="downloads" class='panel' >
      <h2 class='option' >Downloads</h2>
      <div class='panel-content'>
        <div ng-click='downloadResumes()'id='resume_download_button' class='button'> Download Resumes</div>
        <div ng-click='downloadAcceptedCSV()'id='csv_accepted_download_button' class='button' > Download Accepted CSV</div>
        <div ng-click='downloadAllCSV()'id='csv_all_download_button' class='button' > Download All CSV</div>
      </div>
    </div>
    <div id="email-panel" class='panel' >
      <h2 class='option'> Messages</h2>
		<p><em>Email and SMS</em></p>
		<a href='/dashboard/messages'>Go to messages dashboard</a>
    </div>
    <div id="manual-panel" class='panel' >
      <h2 class='option' >Manual</h2>

      <div class='panel-content'>
        <label>Emails</label>
        <input ng-model= "manualEmails" type='text' name='emails' style='text-align: center; width: 100%; height: 50'>
        <label ng-show='showManualStatus' style='display: block' ><b>%%manualStatus%%</b></label>
        <div ng-click='changeStatus("Register")' class='button'>Sign Up</div>
        <div ng-click='changeStatus("Remove")' class='button'>Remove</div>
        <div ng-click='changeStatus("Waitlist")' class='button'>Waitlist</div>
        <div ng-click='lookupHacker()' class='button'>Lookup</div>
        <a style="text-decoration:none" class='button' href="/admin_checkin">Go To Checkin</a>
      </div>
      <div class="found" ng-repeat="hacker in lookupResult.found">
        <span><b>Found <a ng-href="secret/%%hacker.secret%%">%%hacker.email%%</a></b></span><br>
      </div>
      <div class="notFound" ng-repeat="hacker in lookupResult.notFound">
        <span><b>Could not find %%hacker%%</b></span><br>
      </div>
    </div>
  </div>

  <iframe id="email-display" ng-show="displayEmail" >
  </iframe>
  <div class="button"  ng-click="displayEmail = null" ng-show="displayEmail">Close Email</div>
</div>
<div class="panel-section" id="db-tools">
  <h2 class='option'>Database Tools</h2>
  <a style="text-decoration:none" class='button' href="/db_cleanup">DB Cleanup</a>
  {% if envIsDev %}
  <script>
    function populateDB() {
      if (window.confirm("Are you sure you want to generate 100 hackers?")) {
        window.location.href = "/__db_populate/100";
      }
    }
    function depopulateDB() {
      if (window.confirm("Are you sure you want to eliminate 100 hackers?")) {
        window.location.href = "/__db_depopulate/100";
      }
    }
  </script>
  <a style="text-decoration:none" class='button' onclick="populateDB()">DB Populate</a>
  <a style="text-decoration:none" class='button' onclick="depopulateDB()">DB Depopulate</a>
{% endif %}
</div>
{% endblock %}
