{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>DB Cleanup</title>
<link rel='stylesheet' href='/static/css/dashboard.css'/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
<script src='/static/js/db_cleanup.js'></script>
{% endblock %}

{% block content %}
  <div ng-app='cleanupApp' ng-init="getProperty" ng-controller="MainCtrl" >
    <h1 style="color: #EF5D93;">%%property%%</h1>
    <div ng-repeat="(key, value) in property">
      <span><b>%%key%%:</b> %%value%%</span>
    </div>
    <br>
{% endblock %}
