{% extends "base.html" %}

{% block title %}
{{ hacker.name }} - Hack@Brown 2015
{% endblock %}

{% block headcss %}
{{ super() }}
<link rel='stylesheet' href='/static/semantic-final/semantic.min.css' />
<link rel="stylesheet" href="/static/css/hacker_page.css" />
{% endblock %}

{% block headjs %}
{{ super() }}
<script type="application/javascript" src="/static/semantic-final/semantic.min.js"></script>
{% endblock %}

{% block nav %}
<div class="hamburger">
    <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <g class="hamsvg" sketch:type="MSLayerGroup">
            <rect class="bar" fill="#404040" sketch:type="MSShapeGroup" x="0" y="25" width="30" height="5"></rect>
            <rect class="bar" fill="#404040" sketch:type="MSShapeGroup" x="0" y="12.5" width="30" height="5"></rect>
            <rect class="bar" fill="#404040" sketch:type="MSShapeGroup" x="0" y="0" width="30" height="5"></rect>
        </g>
    </svg>
</div>
<div class="hamburger over"></div>
<ul class="top-bar_ul transparent" data-0="" data-1="">
    <li class="top-bar_li left close" id="back_top"><a class="secondary" href="/">Close</a></li>
    <li class="top-bar_li active" id="status_top"><a href="#status">Status</a></li>
    <li class="top-bar_li" id="info_top"><a href="#info">My Info</a></li>
</ul>
{% endblock %}

{% block content %}

<div id="skrollr-body" class="trigrid container darkgrey">
    <div class="outer_container">
        <div class="double panes">
            <div class="double_left pane pane0 active white">
                <section id="status" class="panel hero">
                    <div class="inner_container">
                            <h1 class="hi">Hey {{ name }}!</h1>
                            <p>your admission status is</p>
                            <div class="admit_status pending">
                                {{ status }}
                            </div>
                            
                    </div>
                </section>
                <section id="messages" class="panel grey secondary">
                    <div class="inner_container">
                        <h4 class="label grey">Messages</h4>
                        <h3 class="secondary">None yet!</h3>
<!--
                        <div class="message items">
                            <div class="message item prompt">
                                <h3>You haven't uploaded your resume yet!</h3>
                                <p>We give our sponsors your resume for potential recruitment opportunities.</p>
                                <div class="upload field">
                                    <input id="resume" class="resume-upload" type="file" name="resume" />
                                    <input id="resume-over" class="resume-button" type="button" value="Upload Resume" />
                                    <span class="file-name"></span>
                                </div>
                            </div>
                        </div>
-->
                    </div>
                </section>
            </div>
            <div class="double_right pane pane1 white">
                <section id="myinfo" class="panel">
                    
                    <form id='update_form' class='ui form inner_container' method='POST' enctype="multipart/form-data" novalidate>
                        <p>View and update your information:</p>
                        <div class="two fields row">
                            <div class="field">
                                <label for="name">Name</label>
                                <div class="ui icon input">
                                    <input id="name" type="text" name="name" placeholder="Josiah Carberry" value="{{ hacker.name }}"/>
                                    <i class="icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label for="email">Email</label>
                                <div class="ui icon input">
                                    <input type="email" name="email" placeholder="handle@schooldomain.edu" value="{{ hacker.email }}"/>
                                    <i class="icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="two fields row">
                            <div class="field">
                                <div class="two fields">
                                    <div class="ten wide field ui-widget">
                                        <label for="school">School</label>
                                        <div class="ui icon input">
                                            <input id="school" type="text" name="school" placeholder="Beige University" value="{{ hacker.school }}"/>
                                            <i class="icon"></i>
                                        </div>
                                    </div>
                                    <div class="six wide field">
                                        <label for="year">Year</label>
                                        <div class="ui icon input">
                                            <input id="year" type="text" name="year" placeholder="Select Year" value="{{ hacker.year }}"/>
                                            <i class="icon"></i>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="field">
                                <label>T-Shirt Size</label>
                                <div class="shirt_size">
                                    <table class="radio_select radiobuttons center">
                                        <tr>
                                            <td>
                                                <input type="radio" name="shirt_gen" id="sgM" value='M' />
                                                <label for="sgM">Men's</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="shirt_gen" id="sgW" value='W' />
                                                <label for="sgW">Women's</label>
                                            </td>
                                        </tr>
                                    </table>

                                    <table class="radio_select radiobuttons center">
                                        <tr>
                                            <td>
                                                <input type="radio" name="shirt_size" id="ssXS" value='XS' />
                                                <label for="ssXS">XS</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="shirt_size" id="ssS" value='S' />
                                                <label for="ssS">S</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="shirt_size" id="ssM" value='M' />
                                                <label for="ssM">M</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="shirt_size" id="ssL" value='L' />
                                                <label for="ssL">L</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="shirt_size" id="ssXL" value='XL' />
                                                <label for="ssXL">XL</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="shirt_size" id="ssXXL" value='XXL' />
                                                <label for="ssXXL">XXL</label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="dietary_restrictions">Dietary Restrictions?</label>
                            <div class="ui icon input">
                                <input id="dietary_restrictions" type="text" name="dietary_restrictions" value="{{ hacker.dietary_restrictions }}"/>
                                <i class="icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label for="teammates">Any Friends You'd Like to Work With?</label>
                            <div class="ui icon input">
                                <input id="teammates" type="text" name="teammates" value="{{ hacker.teammates }}"/>
                                <i class="icon"></i>
                            </div>
                        </div>
                        <div class="two fields row">
                            <div class="field">
                                <label for="hardware_hack">Hardware Hack?</label>
                                <table class="radio_select radiobuttons" for="hardware_hack">
                                    <tr>
                                        <td>
                                            <input type="radio" name="hardware_hack" id="hardware_yes" value='yes' />
                                            <label for="hardware_yes">Yes!</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="hardware_hack" id="hardware_no" value='no' />
                                            <label for="hardware_no">No</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="field disabled">
                                <label for="resume">Upload Resume <span class="optional">(Recommended)</span></label>
                                <input id="resume" class="resume-upload" type="file" name="resume" disabled/>
                                <input id="resume-over" class="resume-button" type="button" value="Browse files" disabled/>
                                <span class="file-name">No file chosen.</span>
                            </div>
                        </div>
                        <div class="two fields row">
                            <div class="field">
                                <label for="first_hackathon">Will this be your first hackathon?</label>
                                <table class="radio_select radiobuttons" for="first_hackathon">
                                    <tr>
                                        <td>
                                            <input type="radio" name="first_hackathon" id="first_hackathon_yes" value='yes' />
                                            <label for="first_hackathon_yes">Yes!</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="first_hackathon" id="first_hackathon_no" value='no' />
                                            <label for="first_hackathon_no">No</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="field">
                                <label for="links">Links <span class="optional">(Optional)</span></label>
                                <div class="condor"></div>
                            </div>
                        </div>
<!--
                        <div class="ui submit button active">
                            Button
                        </div>
-->
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/js/condor.js"></script>
<script type="text/javascript" src="/static/js/select2.min.js"></script>
<script type="text/javascript" src='/static/js/H5F.js'></script>
<!-- a polyfill that adds HTML5 form validation features to older browsers -->
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script type="text/javascript" src="/static/js/hacker_page.js"></script>


<script>

    $(document).ready(function() {
        
        if(location.hash === '#info') {
            setTabActive($("#info_top"));
            switchToMyInfo();
        }
        
        $(".button").click(function() {
            $(this).toggleClass("active");
        });
        
        $("#status_top").click(function() { 
            this.preventDefault;
            setTabActive(this);
            switchFromMyInfo();
        });
        
        $("#info_top").click(function() {
            this.preventDefault;
            setTabActive(this);
            switchToMyInfo();
        });
        
        //    Form stuff. Needs to stay in the html for jinja to do its thing
        $("#update_form input").change( function() {
            saveChange(this.name, this.value, this.parentNode, "{{ secret }}" );
        });
        
        var $universities = [];
        $.getJSON("/static/data/universities.json", function (data) {
            $.each(data, function (key, val) {
                $universities[key] = val;
            })
        });
        
        // Populate the radio buttons
        populateDefaultRadio("shirt_gen", "{{ hacker.shirt_gen }}");
        populateDefaultRadio("shirt_size", "{{ hacker.shirt_size }}");
        populateDefaultRadio("hardware_hack", "{{ hacker.hardware_hack }}");
        populateDefaultRadio("first_hackathon", "{{ hacker.first_hackathon }}");
        
        /* Autocomplete suggestions for schools */
        
        $(".schools").autocomplete({
            source: $universities
        });
        
        //Repeater list
        $(".condor").condor({
            uniqueNames: false,
            namePrefix: 'links',
            activeHint: 'Github, Dribbble, Behance, etc.',
            inactiveHint: 'add another link',
            inputType: 'url',
            prepopulate: ['a', 'b', 'c']
        });
    });
</script>
{% endblock %}
