{% extends "base.html" %}

{% block title %}
{{ hacker.name }} - Hack@Brown 2015
{% endblock %}

{% block headcss %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.2/css/selectize.min.css"/>
<link rel="stylesheet" href="/static/jquery-ui-1.11.2.custom/jquery-ui.min.css"/>

<link rel='stylesheet' href='/static/semantic-final/semantic.min.css' />
<link rel="stylesheet" href="/static/css/hacker_page.css" />


{% endblock %}

{% block headjs %}
{{ super() }}
<script type="application/javascript" src="/static/semantic-final/semantic.min.js"></script>
{% endblock %}

{% block nav %}
<div class="hamburger">
    <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <g class="hamsvg" sketch:type="MSLayerGroup">
            <rect class="bar" fill="#404040" sketch:type="MSShapeGroup" x="0" y="25" width="30" height="5"></rect>
            <rect class="bar" fill="#404040" sketch:type="MSShapeGroup" x="0" y="12.5" width="30" height="5"></rect>
            <rect class="bar" fill="#404040" sketch:type="MSShapeGroup" x="0" y="0" width="30" height="5"></rect>
        </g>
    </svg>
</div>
<div class="hamburger over"></div>
<ul class="top-bar_ul constrained" data-0="" data-1="">
    <li class="top-bar_li left close" id="back_top"><a class="secondary" href="/">Close</a></li>
    <li class="top-bar_li active" id="status_top"><a href="#status">Status</a></li>
    <li class="top-bar_li" id="info_top"><a href="#info">My Info</a></li>
</ul>
{% endblock %}

{% block content %}

<div id="skrollr-body" class="trigrid container darkgrey">
    <div class="outer_container">
        <div class="double panes">
            <div class="double_left pane pane0 active white">
                <section id="status" class="panel hero">
                    <div class="inner_container">
                            <h1 class="hi">Hey {{ name }}!</h1>
                            <p>your admission status is</p>
                          <div class="admit_status {{ status }}">
                                {{ status }}
                            </div>

                    </div>
                </section>
                <section id="messages" class="panel grey secondary">
                    <div class="inner_container">
                        <h4 class="label grey">Messages</h4>
                        <h3 class="secondary">None yet!</h3>
<!--
                        <div class="message items">
                            <div class="message item prompt">
                                <h3>You haven't uploaded your resume yet!</h3>
                                <p>We give our sponsors your resume for potential recruitment opportunities.</p>
                                <div class="upload field">
                                    <input id="resume" class="resume-upload" type="file" name="resume" />
                                    <input id="resume-over" class="resume-button" type="button" value="Upload Resume" />
                                    <span class="file-name"></span>
                                </div>
                            </div>
                        </div>
-->
                    </div>
                </section>
            </div>
            <div class="double_right pane pane1 white">
                <section id="myinfo" class="panel">

                    <form id='update_form' class='ui form inner_container' method='POST' enctype="multipart/form-data" novalidate>
                        <h3>View and update your information:</h3>
                        <div class="two fields row">
                            <div class="field">
                                <label for="name">Name</label>
                                <div class="ui icon input">
                                    <input id="name" type="text" name="name" placeholder="Josiah Carberry" value="{{ hacker.name }}"/>
                                    <i class="icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label for="email">Email</label>
                                <div class="ui icon input">
                                    <input type="email" id="email" name="email" placeholder="handle@schooldomain.edu" value="{{ hacker.email }}"/>
                                    <i class="icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="two fields row">
                            <div class="field">
                                <div class="two fields">
                                    <div class="ten wide field ui-widget">
                                        <label for="school">School</label>
                                        <div class="ui icon input">
                                            <input id="school" type="text" name="school" placeholder="Beige University" value="{{ hacker.school }}"/>
                                            <i class="icon"></i>
                                        </div>
                                    </div>
                                    <div class="six wide field">
                                        <label for="year">Year</label>
                                        <div class="ui icon input select">
                                            <select id="year" type="text" name="year" placeholder="Select Year"
                                            value="sophomore">
                                                <option value="freshman">First Year</option>
                                                <option value="sophomore">Second Year</option>
                                                <option value="junior">Third Year</option>
                                                <option value="senior">Fourth Year</option>
                                                <option value="highschool">High School</option>
                                            </select>
                                            <i class="icon"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="field">
                                <label>T-Shirt Size</label>
                                <div class="shirt_size radiogroup">
                                    <table class="radio_select radiobuttons center">
                                        <tr>
                                            <td>
                                                <input type="radio" name="shirt_gen" id="sgM" value='M' />
                                                <label for="sgM">Men's</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="shirt_gen" id="sgW" value='W' />
                                                <label for="sgW">Women's</label>
                                            </td>
                                        </tr>
                                    </table>

                                    <table class="radio_select radiobuttons center">
                                        <tr>
                                            <td>
                                                <input type="radio" name="shirt_size" id="ssXS" value='XS' />
                                                <label for="ssXS">XS</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="shirt_size" id="ssS" value='S' />
                                                <label for="ssS">S</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="shirt_size" id="ssM" value='M' />
                                                <label for="ssM">M</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="shirt_size" id="ssL" value='L' />
                                                <label for="ssL">L</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="shirt_size" id="ssXL" value='XL' />
                                                <label for="ssXL">XL</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="shirt_size" id="ssXXL" value='XXL' />
                                                <label for="ssXXL">XXL</label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field">
                                <label for="dietary_restrictions">Dietary Restrictions?</label>
                                <div class="ui icon input">
                                    <input id="dietary_restrictions" type="text" name="dietary_restrictions" value="{{ hacker.dietary_restrictions }}"/>
                                    <i class="icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field">
                              <label for="teammates">Any Friends You'd Like to Work With? <span class="optional">(Optional, Limit 3 Emails)</span></label>
                                <div class="ui icon input">
                                    <input id="teammates" type="text" name="teammates" value="{{ hacker.teammates }}"/>
                                    <i class="icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="two fields row">
                            <div class="field">
                                <label for="hardware_hack">Hardware Hack?</label>
                                <table class="radio_select radiobuttons" for="hardware_hack">
                                    <tr>
                                        <td>
                                            <input type="radio" name="hardware_hack" id="hardware_yes" value='yes' />
                                            <label for="hardware_yes">Yes!</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="hardware_hack" id="hardware_no" value='no' />
                                            <label for="hardware_no">No</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="field">
                                <label for="resume">Upload Resume <span class="optional">(Recommended)</span></label>
                                <input id="resume" class="resume-upload" type="file" name="resume"/>
                                <input id="resume-over" class="resume-button" type="button" onclick="document.getElementById('resume').click()" value="Upload Resume"/>
                                <span class="file-name">
                                {% if hacker.resume %}
                                    <a class="view-resume" href='/__serve/{{ hacker.resume }}' target="_blank">{{resumeFileName}}</a>
                                {% else %}
                                    No file chosen.
                                {% endif %}
                                </span>
                            </div>
                        </div>
                        <div class="two fields row">
                            <div class="field">
                                <label for="first_hackathon">Will this be your first hackathon?</label>
                                <table class="radio_select radiobuttons" for="first_hackathon">
                                    <tr>
                                        <td>
                                            <input type="radio" name="first_hackathon" id="first_hackathon_yes" value='yes' />
                                            <label for="first_hackathon_yes">Yes!</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="first_hackathon" id="first_hackathon_no" value='no' />
                                            <label for="first_hackathon_no">No</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="field">
                                <label for="links">Links <span class="optional">(Optional)</span></label>
                                <div class="condor"></div>
                            </div>
                        </div>
<!--
                        <div class="ui submit button active">
                            Button
                        </div>
-->
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/js/condor.js"></script>
<script type="text/javascript" src='/static/js/H5F.js'></script>
<!-- a polyfill that adds HTML5 form validation features to older browsers -->
<script type="application/javascript" src="/static/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.2/js/standalone/selectize.min.js"></script>
<script type="text/javascript" src="/static/js/hacker_page.js"></script>


<script>
  var secret = "{{ hacker.secret }}";
  var newResumeURL = "{{ newResumeURL }}";

  $(document).ready(function () {

    if (location.hash === '#info') {
      setTabActive($("#info_top"));
      switchToMyInfo();
    }

    $(".button").click(function () {
      $(this).toggleClass("active");
    });

    $("#status_top").click(function () {
      this.preventDefault;
      setTabActive(this);
      switchFromMyInfo();
    });

    $("#info_top").click(function () {
      this.preventDefault;
      setTabActive(this);
      switchToMyInfo();
    });

    //    Form stuff. Needs to stay in the html for jinja to do its thing
    $("#update_form input").change(function () {
      saveChange(this.name, this.value, this.parentNode, secret, true);
    });

    //Year Section
    var $year = $('#year');
    var $yearSelectize = $year.siblings(".selectize-control");
    var $yearLabel = $year.parent().siblings("label");
    var $yearDropdown = $yearSelectize.find(".selectize-dropdown");

    $year.val("{{ hacker.year }}").selectize({
      create: false,
      hideSelected: true,
      onDropdownOpen: slideOut,
      onDropdownClose: slideIn,
    });

    $year.change(function () {
      saveChange(this.name, this.value, this.parentNode, secret, true);
    });

    $yearLabel.click(function() {
      $yearSelectize.find("input").focus();
    });

    //Dietary Restrictions Section
    var rawDiet = ["Vegetarian", "Vegan", "Gluten Free", "Kosher", "Lactose Intolerant", "Nuts Allergy", "Treenuts Allergy", "Soy Allergy",
"Shellfish Allergy", "Corn Allergy", "No Pork", "No Ham", "No Beef", "No Mutton", "Halal", "No Red Meat", "None"];
    var dietaryRestrictionsData = [];
    $.each(rawDiet, function (key, val) {
        dietaryRestrictionsData.push({"diet" : val});
    });

    var $dietaryRestrictions = $('#dietary_restrictions');
    $dietaryRestrictions.selectize({
      valueField: 'diet',
      labelField: 'diet',
      searchField: ['diet'],
      delimiter: ',',
      persist: false,
      hideSelected: true,
      options: dietaryRestrictionsData,
      onDropdownOpen: slideOut,
      onDropdownClose: slideIn,
      create: function (input) {
        return {
          value: input,
          text: input
        }
      }
    });

    var $dietaryRestrictionsSelectize = $dietaryRestrictions.siblings(".selectize-control");
    var $dietaryRestrictionsLabel = $dietaryRestrictions.parent().siblings("label");
    var $dietaryDropdown = $dietaryRestrictionsSelectize.find(".selectize-dropdown");

    $dietaryRestrictionsLabel.click(function() {
      $dietaryRestrictionsSelectize.find("input").focus();
    })

    //Teammates Section
    var $teammates = $('#teammates');
    var $teammatesSelectize = $teammates.siblings(".selectize-control");
    var $teammatesLabel = $teammates.parent().siblings("label");
    var $teammatesDropdown = $teammatesSelectize.find(".selectize-dropdown");
    var REGEX_EMAIL = '([a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@' +
      '(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)';


    $teammates.selectize({
      labelField: 'email',
      valueField: 'email',
      searchField: 'email',
      delimiter: ',',
      maxItems: 3,
      persist: true,
      hideSelected: true,
      onDropdownOpen: slideOut,
      onDropdownClose: slideIn,
      createFilter: function (input) {
        var match, regex;

        // email@address.com
        regex = new RegExp('^' + REGEX_EMAIL + '$', 'i');
        match = input.match(regex);
        if (match) return !this.options.hasOwnProperty(match[0]);

        // name <email@address.com>
        regex = new RegExp('^([^<]*)\<' + REGEX_EMAIL + '\>$', 'i');
        match = input.match(regex);
        if (match) return !this.options.hasOwnProperty(match[2]);

        return false;
      },
      create: function (input) {
        if ((new RegExp('^' + REGEX_EMAIL + '$', 'i')).test(input)) {
          return {
            email: input
          };
        }
        var match = input.match(new RegExp('^([^<]*)\<' + REGEX_EMAIL + '\>$', 'i'));
        if (match) {
          $teammates.find("input").focus();
          return {
            email: match[2],
            name: $.trim(match[1])
          };
        }
        alert('Invalid email address.');
        return false;
      }
    });

    $teammatesLabel.click(function() {
      $teammatesSelectize.find("input").focus();
    });

    //Shirt Size Section
    // Populate the radio buttons
    populateDefaultRadio("shirt_gen", "{{ hacker.shirt_gen }}");
    populateDefaultRadio("shirt_size", "{{ hacker.shirt_size }}");
    populateDefaultRadio("hardware_hack", "{{ hacker.hardware_hack }}");
    populateDefaultRadio("first_hackathon", "{{ hacker.first_hackathon }}");

    //School Section
    /* Autocomplete suggestions for schools TODO */
    var universities = [];
    $.getJSON("/static/data/universities.json", function (data) {
      $.each(data, function (key, val) {
        universities[key] = val;
      })
    });

    $(".schools").autocomplete({
      source: universities
    });

    //Links Section

    // Split the links into an array
    var linkArray = processCSV("{{ hacker.links }}");

    //Repeater list
    var $linkRepeater = $(".condor").condor({
      uniqueNames: false,
      namePrefix: 'links',
      activeHint: 'Github, Dribbble, Behance, etc.',
      inactiveHint: 'add another link',
      inputType: 'url',
      prepopulate: linkArray
    });

    $linkRepeater.find(".condor-active").each(function (i, uiInput) {
      var icon = $(uiInput).find("i.icon");
      var input = $(uiInput).find("input");
      domainMatch(icon, $(input).val());
    });
    requestNewUploadURL();

    trackCondor($linkRepeater);

    initalizeHamburger();
  });
</script>
{% endblock %}
