{% extends "centered.html" %}

{% block head %}
{{ super() }}

{% endblock %}

{% block centered_content %}

<!--<h1>Hi this is hack at brown</h1>!-->
<!--<h2 style='font-family: cursive'>*~.*~ the most epic hackathon ever *~.*~</h2>!-->

<div id='mailingformcontainer'>
    <form action='/sign_up_for_updates' method='POST' id='mailingform' class="ui form">
        <div class="field">
            <div class="ui left action input">
                <input id='email' type='email' name='email' placeholder='subscribe to updates'/>
                <!--<button type=submit class="ui blue submit button" id="submitbutton" >
                    <i class="angle right icon"></i>
                </button>!-->
            <!--<input type='submit' value='GET NOTIFIED'/>!-->
            </div>
        </div>
    </form>
</div>


{% endblock %}
