{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Hack@Brown 2015 — come build stuff with us in Providence, 1/23-24</title>
<link rel='stylesheet' href='/static/css/index.css'/>
<script src='/static/js/index.js'></script>
{% endblock %}

{% block content %}

<div id='splash' class='vertically-centered'>
	
	<div class='vertically-centered-content'>
		<img src='/static/img/logo.png' id='logo' />
		<h1>Hack@Brown 2015</h1>
		<div id='footer'>
			<h2 id='tagline'>Build cool things with us</h2>
			<h3>Providence, RI | January 23-24</h3>
		</div>
		
		<form id='sign-up-for-updates' action='/sign_up_for_updates' method='POST' class='signed-up'>
			<input type='email' name='email' id='email' placeholder='subscribe for updates'/>
		</form>
	</div>
	
</div>

<div id='rest'>
	
	<div id='faq1'>
		<h2>What is Hack@Brown?</h2>
		<p>Brown University's student-run hackathon. Last year, over 300 college students from around the Northeast came to Providence to spend 24 hours designing and building mobile apps, website services, Chrome extensions and more. And this January, we're doing it again.</p>
	</div>
	
	<div id='faq2'>
		<h2>Can I work on older projects?</h2>
		<p>Hackathons are about learning new things and leaving your comfort zone, so we'll ask that you start something entirely new with your team. Of course, you're free to use publicly available resources, like frameworks or APIs.</p>
		<h2>How do I get there? Where do I sleep? How do I get back?</h2>
		<p>Last year, we provided free buses to and from New York City and Boston, and we'll probably do that again. Unfortunately, we probably won't be able to pay for plane or bus tickets—however, Providence is within walking distance of the Downtown Providence bus terminal and the PVD Amtrak station, and a taxi ride away from TF Green Airport.</p>
		<p>We'll make sure you have a quiet place to sleep, but it might not be the comfiest.</p>
		<h2>What should I bring?</h2>
		<p>Everything you need to execute your hack—which usually just means computers and chargers. And don't forget pillows, sleeping bags, toothbrushes—anything you need to survive the night. We'll keep you fed, caffeinated, and give you a steady supply of free t-shirts and other free stuff from our sponsors.</p>
	</div>
	
</div>

{% endblock %}
