{% extends "base.html" %}

{% block title %}
Mentor Dispatch
{% endblock %}

{% block headcss %}
{{ super() }}
<link rel='stylesheet' href='/static/semantic-final/semantic.min.css' />
<style>
label {
  text-transform: uppercase;
  color: #1b8eb9;
  font-weight: 300;
  font-size: .8em;
}

.list {
  height: 100%;
  overflow-y: scroll;
}

.col {
  width: 20%;
  height: 200%;
}

.requests {
  float: left;
  margin: 2px;
}
.center {
/*  clear:both;
  margin: 0px auto;
*/}

.mentors {
  float:right;
}

.list > .card {
  display: block;
  background-color: red;
  border: 2px solid black;
  margin: 2px;
  text-overflow: ellipsis;
  height: 80px;
}

.time {
  background-color: blue;
}

.responses {
  background-color: green;
}

.tags-container {
  margin: 3px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tag {
  padding: 1px;
  background-color: yellow;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

</style>
{% endblock %}

{% block headjs %}
{{ super() }}
<script type="application/javascript" src="/static/semantic-final/semantic.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
<script type="text/javascript" src="/static/js/mentor_dispatch.js"></script>
{% endblock %}
{% block content %}
<div id="scope" ng-app="dispatchApp" ng-controller="Controller">
  <h2>Mentor Dispatch</h2>
  <div class="requests col">
    <h2>REQUESTS</h2>
    <div class="list" ng-init="getRequests()">
      <div class="card" ng-repeat="request in requests" ng-click="viewRequest(request)">
        <div class="metadata flex">
          <div class="time">
            %%request.created%%
          </div>
          <div class="responses number">
            %%request.responses%% Responses
          </div>
        </div>
          <div class="tags-container small">
            <span ng-repeat="tag in request.tags" class="tag %%tag%%">%%tag%%</span>
          </div>
      </div>
    </div>
  </div>
  <div class="mentors col">
    <h2>AVAILABLE MENTORS</h2>
    <div class="list">
      <div class="card" ng-repeat="mentor in mentors">
          <div class="metadata flex">
            <div class="rating">
              %%mentor.rating%%
            </div>
            <div class="responses number">
              %%mentor.responses%% Responses
            </div>
          </div>
          <div class="tags-container small">
            <span class="tag %%tag%%" ng-repeat="tag in mentor.tags">%%tag%%</span>
          </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner_container %%request.status%%" ng-model="request">
      <h1>Issue:</h1>
      <p>%%request.issue%%</p>
      <p>%%request.created%%</p>
      <p>%%request.location%%</p>
      <p>%%request.responses%%</p>
      <p>%%request.status%%</p>
      <h1>Tags:</h1>
      <div class="tags-container large">
        <span ng-repeat="tag in request.tags" class="tag %%tag%%">%%tag%%</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
