{% extends "poly_app.html" %}

{% block title %}
Sponsor Dashboard - {{ super() }} 2015
{% endblock %}

{% block headcss %}
{{ super() }}
<link rel='stylesheet' href='/static/css/hacker_page.css' />
<style>
    .trigrid {
        overflow: auto;
    }
</style>
{% endblock %}

{% block nav %}
{{ super() }}
<ul class="top-bar_ul constrained" data-0="" data-1="">
    <li class="top-bar_li left close" id="back_top"><a class="secondary" href="/">Close</a></li>
    <li class="top-bar_li active" id="status_top"><a href="#partner">Sponsor Dashboard</a></li>
</ul>
{% endblock %}

{% block content %}
    <div class="outer_container">
        <div class="pane pane0 active white">
            <section class="panel hero condensed-bottom">
                <div class="inner_container">
                    <h1 class="hi" style="text-transform: none">Welcome to the Sponsor Dashboard</h1>
                    <p>Enter your username and password to download student info.</p>
                </div>
            </section>
            <section class="panel condensed-bottom condensed-top">
                <form class="inner_container ui form" method='POST' id='send' action="/__partner_csv">
                    <div class="field">
                        <label for="user">Sponsor ID:</label><input type='text' id='user' name='user'>
                    </div>
                    <div class="field">
                        <label for="password">Password:</label><input type='password' id='password' name='password'> 
                    </div>
                    <input type='submit' id="csv-button" class="ui button" name="csv" value="Download CSV">
                    <input type='submit' id="zip-button" class="ui button" name="zip" value="Download Resumes">
                </form> 
            </section>
            <section class="panel hero">
                <div class="inner_container">
                    <p>Questions or problems? Email us at <a href="mailto:sponsor@hackatbrown.org?subject=Partner%20CSV%20Download">sponsor@hackatbrown.org</a>.</p>
                    <p>Thanks for sponsoring!</p>
                </div>
            </section>
            <section class="panel grey condensed-top">
                <div class="inner_container">
                    <footer>
                        <span class="copyright">Copyright © 2015 Hack@Brown</span>
                        <ul class="social-links">
                            <li>
                                <a href="mailto:hello@hackatbrown.org" title="Email" class="email" target="_blank"></a>
                            </li>
                            <li>
                                <a href="http://facebook.com/hackatbrown" title="Facebook" class="facebook" target="_blank"></a>
                            </li>
                            <li>
                                <a href="http://twitter.com/hackatbrown" title="Twitter" class="twitter" target="_blank"></a>
                            </li>
                            <li>
                                <a href="http://medium.com/hack-at-brown" title="Blog" class="blog" target="_blank"></a>
                            </li>
                        </ul>
                    </footer>
                </div>
            </section>
        </div>
    </div>

{% block bodyjs %}
{{ super() }}
{% endblock %}
{% endblock %}
