{# this is loaded directly inside #splash on index.html after a successful registration #}
<div >
	<img src='/static/img/logo-medium.png' id='logo' />
	<h1>Thanks, {{ name }}!</h1>
	<p>We'll get back to you after registrations close</p>
	
	<a class='main_cta' href='http://facebook.com/hackatbrown'>
		Find teammates and more on our Facebook page
	</a>
	
	<div id='footer'>
		<h2 id='tagline'>Build cool things with us</h2>
		<h3><a href='http://facebook.com/hackatbrown'>Like us on Facebook</a> | <a href='http://twitter.com/hackatbrown'>Follow us on Twitter</a></h3>
	</div>
</div>
