{# this is loaded directly inside #splash on index.html after a successful registration #}
<div class="registration_success content_container">
	<h1 style="color: #EF5D93; font-size: 5em;">YAY!</h1>
	<h1>Thanks for registering, {{ name }}!</h1>
	<p>We're working on hard on making sure Hack@Brown is a great experience for everyone. However, since we're limited by space, we'll be using a random lottery to accept registrants.</p>
    <p>Make sure you receive an email from <a href="mailto:hello@hackatbrown.org?subject=Hi%from%20{{ name }}!">hello@hackatbrown.org</a>—you'll be able to check your status and change your information at the link we send you.</p>
  <p>Have a great day!</p>
	
	<footer id='footer'>
		<h2 class='slogan'>Make, Play, Learn</h2>
		<ul class="social-links">
                    <li><a href="mailto:hello@hackatbrown.org" title="Email" class="email"></a></li>
                    <li><a href="http://facebook.com/hackatbrown" title="Facebook" class="facebook"></a></li>
                    <li><a href="http://twitter.com/hackatbrown" title="Twitter" class="twitter"></a></li>
                    <li><a href="http://medium.com/hack-at-brown" title="Blog" class="blog"></a></li>
        </ul>
	</footer>
</div>
