<form action='{{ registration_post_url }}' id='registration_form' method='POST' enctype="multipart/form-data">
	<div>
		<h2>Register for Hack@Brown</h2>
		<input name="name" placeholder="Full name" />
		<input name="email" placeholder="Email address" type="email" />
		<input name="school" placeholder="College" />
		<input name="year" placeholder="Expected graduation year" />
		<input name="dietary_restrictions" placeholder="Any dietary restrictions?" />
		<div>
			T-shirt size:
			<select name='shirt_size' id='shirt_size'>
           <option value='W-S' selected>Women's Small</option>
           <option value='M-S'>Men's Small</option>
           <option value='W-M'>Women's Medium</option>
           <option value='M-M'>Men's Medium</option>
           <option value='W-L'>Women's Large</option>
           <option value='M-L'>Men's Large</option>
           <option value='W-XL'>Womens's XL</option>
           <option value='M-XL'>Men's XL</option>
           <option value='W-XXL'>Women's XXL</option>
           <option value='M-XXL'>Men's XXL</option>
			</select>
		</div>
		<div>
			Your resume:
			<input name="resume" type="file" />
		</div>
		<p>We can't guarantee we'll have a spot for everyone — we'll email you with our decision as it gets closer to January.</p>
		<input type='submit' value='Register'/>
	</div>
</form>

<script>

$(document).ready(function() {
	$("#registration_form").submit(function(e) {
		e.preventDefault();
		$("#registration_form input[type=submit]").val("Uploading...").attr({disabled: true});
		$("#registration_form").ajaxSubmit({
			success: function(response) {
				if (JSON.parse(response).success) {
					$("#registration_form input[type=submit]").val("Register");
					$('#thanks').slideDown();
					window.location.hash = "";
				}
			}
		})
		return false;
	})
})

</script>
