<div class='panel double_right'>
    <form action='{{ registration_post_url }}' id='registration_form' class='registration_form ui form content_container' method='POST' enctype="multipart/form-data" novalidate>
        <div class="errorsPresent">Please fix all issues in the form.</div>

        <div class="two fields row">
            <div class="field">
                <label for="name">Name</label>
                <input id="name" type="text" name="name" placeholder="Josiah Carberry" required/>
            </div>
            <div class="field">
                <label for="name">Email</label>
                <input type="email" name="email" placeholder="handle@schooldomain.edu" required/>
            </div>
        </div>

        <div class="two fields row">
            <div class="field">
                <div class="two fields">
                    <div class="ten wide field ui-widget">
                        <label for="school">School</label>
                        <input type="text" name="school" class="schools" placeholder="Beige University" required/>
                    </div>
                    <div class="six wide field yr">
                        <label for="year">Year</label>
                        <select name="year" id="source" class="drop" required >
                            <option></option>
                            <option value="freshman">First Year</option>
                            <option value="sophomore">Second Year</option>
                            <option value="junior">Third Year</option>
                            <option value="senior">Fourth Year</option>
                            <option value="highschool">High School</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>T-Shirt Size</label>
                <div class="shirt_size">
                    <table class="radio_select center">
                        <tr>
                            <td>
                                <input type="radio" name="shirt_gen" id="sgM" value='M' />
                                <label for="sgM">Men's</label>
                            </td>
                            <td>
                                <input type="radio" name="shirt_gen" id="sgW" value='W' />
                                <label for="sgW">Women's</label>
                            </td>
                        </tr>
                    </table>

                    <table class="radio_select center">
                        <tr>
                            <td>
                                <input type="radio" name="shirt_size" id="ssXS" value='XS' />
                                <label for="ssXS">XS</label>
                            </td>
                            <td>
                                <input type="radio" name="shirt_size" id="ssS" value='S' />
                                <label for="ssS">S</label>
                            </td>
                            <td>
                                <input type="radio" name="shirt_size" id="ssM" value='M' />
                                <label for="ssM">M</label>
                            </td>
                            <td>
                                <input type="radio" name="shirt_size" id="ssL" value='L' />
                                <label for="ssL">L</label>
                            </td>
                            <td>
                                <input type="radio" name="shirt_size" id="ssXL" value='XL' />
                                <label for="ssXL">XL</label>
                            </td>
                            <td>
                                <input type="radio" name="shirt_size" id="ssXXL" value='XXL' />
                                <label for="ssXXL">XXL</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="field row">
            <label for="dietary_restrictions">Dietary restrictions? <span class="optional">(Optional)</span></label>
            <input type="hidden" id="diet" class="stags" style="width:100%"/>
        </div>

        <div class="field row">
            <label for="teammates">Any Friends You'd Like to Work With? <span class="optional">(Optional, Limit 3 Emails)</span></label>
            <input type="hidden" id="teammates" class="stags nodrop" name="teammates"/>
        </div>

        <div class="two fields row">
            <div class="field">
                <label for="hardware_hack">Hardware Hack?</label>
                <table class="radio_select" for="hardware_hack">
                    <tr>
                        <td>
                            <input type="radio" name="hardware_hack" id="hardware_yes" value='yes' />
                            <label for="hardware_yes">Yes!</label>
                        </td>
                        <td>
                            <input type="radio" name="hardware_hack" id="hardware_no" value='no' />
                            <label for="hardware_no">Nah</label>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="field">
                <label for="resume">Upload Resume <span class="optional">(Optional; Recommended)</span></label>
                <input id="resume" class="resume-upload" type="file" name="resume" />
                <input id="resume-over" class="resume-button" type="button" value="Browse files" />
                <span class="file-name">No file chosen.</span>
            </div>
        </div>

        <div class="two fields row">
            <div class="field">
                <label for="first_hackathon">Will this be your first hackathon?</label>
                <table class="radio_select" for="first_hackathon">
                    <tr>
                        <td>
                            <input type="radio" name="first_hackathon" id="first_hackathon_yes" value='yes' />
                            <label for="first_hackathon_yes">Yeah!</label>
                        </td>
                        <td>
                            <input type="radio" name="first_hackathon" id="first_hackathon_no" value='no' />
                            <label for="first_hackathon_no">Nope</label>
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="field">
                <label for="links">Links <span class="optional">(Optional)</span></label>
                <div class="condor"></div>
            </div>
        </div>

        <div class="inline field center row">
            <input type="checkbox" name="agree" id="agree" />
            <label for="agree" class="check_agree">I agree to the <a href="/static/code-of-conduct.pdf" target="_blank">Code of Conduct</a></label>
        </div>
        <div class="field center">
            <input type="submit" class="ui button" value="REGISTER" />
        </div>
    </form>
</div>
<div class="clearfix"></div>

<script src='/static/js/H5F.js'></script>
<!-- a polyfill that adds HTML5 form validation features to older browsers -->
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script src="/static/js/registration_form.js"></script>
