<article id="schedule" class="schedule-text">
    <div class="day saturday" data-bottom-top="transform: translate3d(0,15%,0);" data-top-bottom="transform: translate3d(0,-15%,0);">
        <h1>Saturday</h1>
        <h2>Registration<span>9:00&ndash;11:00</span></h2>
        <p>Check-in at Sayles Hall</p>
        <h2>Introduction and Kick-off! <span>11:00&ndash;12:00</span></h2>
        <p>Head to Salomon Auditorium</p>
        <h2>Lunch <span>12:00&ndash;1:00</span></h2>
        <p>Eat, mingle, brainstorm</p>
        <h2>Hacking Begins <span>1:00</span></h2>
        <p>Work time with snacks and mentor support throughout</p>
        <h2>Dinner <span>6:00&ndash;7:00</span></h2>
        <h2>Midnight Snack <span>12:00&ndash;1:00</span></h2>

        <p>Continue hacking... sleeping areas will be plentiful!</p>
    </div>
    <div class="day sunday" data-bottom-top="transform: translate3d(0,15%,0);" data-top-bottom="transform: translate3d(0,-15%,0);">
        <h1>Sunday</h1>
        <h2>Breakfast<span>8:00&ndash;9:00</span></h2>
        <h2>Hacking submissions due!<span>12:00</span></h2>
        <h2>Lunch <span>12:00&ndash;12:45</span></h2>
        <h2>Demo Fair<span>1:00&ndash;2:30</span></h2>
        <p>1st round judging. Judges will visit teams for informal demos and choose finalists. Feel free to check out other teams' projects!</p>
        <h2>Finalists Announced<span>2:45</span></h2>
        <h2>Awards<span>3:00&ndash;4:30</span></h2>
        <p>Keynote, final demos, winners announced</p>
        <h2>Goodbye! <span>5:00</span></h2>
        <p>Clean up, pack up belongings, say bye to friends!</p>
    </div>
</article>