<div id='thanks' class='toast'>
	<h4>Thanks for registering!</h4>
	<p>We'll get back to you after registrations close. Meanwhile, would you like to engage with Hack@Brown on social media?</p>
	
	<!-- tweet #hackatbrown -->
	<a href="https://twitter.com/intent/tweet?button_hashtag=hackatbrown&text=Just%20signed%20up%20for%20%23hackatbrown" class="twitter-hashtag-button" data-related="hackatbrown" data-url="http://hackatbrown.org" data-dnt="true">Tweet #hackatbrown</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	
	<!-- follow @hackatbrown -->
	<a href="https://twitter.com/hackatbrown" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @hackatbrown</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	
	<br/>
	
	<!-- fb like button -->
	<div class="fb-like" data-href="https://www.facebook.com/hackatbrown" data-width="140" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
	
</div>
