body {
	color: #111;
	line-height: 1.4;
	font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    background-image: url('/static/img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    background-color: black;
}

#main {
    width: 100%;
    height: 100%;
}

#mailingformcontainer {
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    top: 75%;
}

#mailingform {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    border-radius: 0px;
}

#submitbutton {
    display: none;
}

#div_submit_button {
    border-radius: 0px;
}

#email {
    border-radius: 0px;
}