{% extends "emails/base.html" %}

{% block content %}
<!-- Subject: You've been accepted to Hack@Brown! -->
<h1>Congratulations!</h1>

<p>Hi {{name}},</p>

<p>We're excited to say that a spot has opened up and you've been accepted to Hack@Brown 2015! We look forward to welcoming you to Brown on February 7-8!</p>

<p>You will be joined by nearly 315 other students excited to learn something new. However, we do have a waitlist of more students waiting to join, so <strong>please RSVP as soon as possible to confirm your attendance.</strong></p>

<a href='http://hackatbrown.org/secret/{{ hacker.secret }}' class='cta-button'>RSVP</a>

<p><b>If we have not received your response by <strong><span class="rsvp-deadline">{{deadline}}</span></strong>, we will offer the spot to someone else.</b></p>

<h2>
    Important Announcements
</h2>
<ul>
    <li><span class="li-title">Check-in:</span> Check-in will start at 9am on Saturday, February 7 and kick-off will begin at 11am. The event will end around 5pm on Sunday, February 8. </li>

    <li><span class="li-title">Dashboard:</span> Please also make sure all the information on your <a href='http://hackatbrown.org/secret/{{ hacker.secret }}'>dashboard</a> is up-to-date.</li>

    <li><span class="li-title">Travel Reimbursements:</span> If you need travel reimbursements, please indicate that on your dashboard. If you require more than $30 in reimbursements, buy your tickets and upload receipts to the dashboard within one week. Feel free to contact us at <a href="mailto:hello@hackatbrown.org">hello@hackatbrown.org</a> with any questions.</li>

    <li><span class="li-title">High Schoolers:</span> If you will be under the age of 18 as of February 7, 2015, be sure to fill out the parental consent form we'll be sending out soon.</li>

</ul>

<p>Once again, congratulations! We look forward to meeting you in Providence, RI soon. If you have any questions, please don't hesitate to email us at <a href="mailto:hello@hackatbrown.org">hello@hackatbrown.org</a>.</p>

<p> 
Best,<br/> 
Team Hack@Brown 
</p>

{% endblock %}

