{% extends "emails/base.html" %}

{% block content %}
<h1>Sorry for the mixup!</h1>
<p>Hi {{name}},</p>
<p>
  Our email regarding registration was confusing so we need to clarify things a bit. As of right now <strong>nobody has been accepted</strong>. The website accurately reflects the status of your application.
</p>

<p>
  Also, we'd like to remind you that acceptance is through a random lottery.
</p>

<p>
  We're sorry for the confusion! Make sure to follow us on <a href='http://facebook.com/hackatbrown'>Facebook</a> and <a href='http://twitter.com/hackatbrown'>Twitter</a> for important updates.
</p>
<p>
    If you have any questions, feel free to send us an email at <a href="mailto:hello@hackatbrown.org">hello@hackatbrown.org</a>.
</p>
<p>
    Hope you're enjoying the holidays!<br/>
    Team Hack@Brown
</p>
{% endblock %}
