{% extends "emails/base.html" %}

{% block content %}
<h1>You've applied to Hack@Brown</h1>
<p>Hi {{name}},</p>
<p>
	Thanks for registering for Hack@Brown!
</p>
<p>
	We're getting ready to create the best hackathon experience possible for everyone. Acceptances will be emailed out in early January based on a random lottery.
	Thanks for waiting, and in the meantime, make sure to follow us on <a href='http://facebook.com/hackatbrown'>Facebook</a> and <a href='http://twitter.com/hackatbrown'>Twitter</a>.
	If you have any questions, feel free to send us an email at hello@hackatbrown.org. Have a great day!
</p>
<p>
	Team Hack@Brown
</p>
{% endblock %}
