{% extends "emails/base.html" %}

{% block content %}
<h1>Register for Hack@Brown!</h1>
<p>
    Make, play, and learn at Hack@Brown, Brown’s annual hackathon, on February 7-8. Registrations close at midnight on December 31, so register today!
</p>
<a class="cta-button" href="http://hackatbrown.org">Register Now</a>
<p>
    Work on exciting projects, make great friends, and collaborate with 300+ other creative thinkers, designers, and engineers from schools across the country. It’s a weekend of coming together, learning new technologies, and building out crazy ideas (not to mention eating tons of yummy food and collecting swag).
</p>
<p>
    Hack@Brown will be an amazing experience — register today.
</p>
<p>
    See you soon!<br/>
    Team Hack@Brown
</p>
{% endblock %}