{% extends "emails/base.html" %}

{% block content %}
<h1>You've applied to Hack@Brown!</h1>
<p>Hi {{name}},</p>
<p>
    Thanks for registering for Hack@Brown!
</p>
<p>
    We really apologize for the delay in your confirmation due to issues on our end, but you're all set & registered for Hack@Brown 2015! At the end of this email is a link to your registration dashboard — please double-check everything, particularly the Dietary Restrictions section (we had some issues with this too), to make sure we got the right information.
</p>
<p>
    As the new year approaches, we're working hard on making sure Hack@Brown is a great experience for everyone. However, since we're limited by space, we'll be using a random lottery to accept registrants.
</p>
<p>
    Thanks for waiting, and in the meantime, make sure to follow us on <a href='http://facebook.com/hackatbrown'>Facebook</a> and <a href='http://twitter.com/hackatbrown'>Twitter</a> for important updates.
</p>
<p>
    If you have any questions, feel free to send us an email at <a href="mailto:hello@hackatbrown.org">hello@hackatbrown.org</a>.
</p>
<p>
    Have a great day!<br/>
    Team Hack@Brown
</p>
{% endblock %}