{% extends "emails/base.html" %}
{% block content %}
<!-- Subject: Last day for Travel Reimbursements -->
<h1>Last day for Travel Reimbursements</h1>
<p>
    Hi {{name}},
</p>
<p>
    We noticed that even though you've confirmed your attendance at Hack@Brown, you haven't requested a reimbursement yet! Today is the last day we can guarantee you more than $30 in reimbursements (your maximum allocated is ${{rmax}}), so make sure the info on the reimbursements tab of your profile is correct.
</p>

<a href='http://hackatbrown.org/secret/{{ hacker.secret }}#reimbursements' class='cta-button'>Request Reimbursements</a>

<p> 
Best,<br/> 
Team Hack@Brown 
</p>

{% endblock %}
