{% extends "emails/base.html" %}

{% block content %}
<!-- Subject: You've been waitlisted for Hack@Brown -->
<p>Hi {{name}},</p>
<p>
	Thanks so much for applying to Hack@Brown! 
</p>
<p>
    Unfortunately, we're unable to offer you a spot just yet — our admittance system was a random lottery, and our first draw didn't pick your registration. There's still a chance you could get in, though — there are always people who don't RSVP, and we'll let someone off the waitlist the second we're able to.
</p>
<p>
	If you're a Providence-area student, we are still able to admit a fair number of local students on the day of the event, so stay tuned to our <a href='http://twitter.com/hackatbrown'>Twitter</a> and <a href='https://www.facebook.com/hackatbrown'>Facebook</a> for updates.
</p>

<p>
    Best,<br/>
    Team Hack@Brown
</p>

{% endblock %}
