<link rel='stylesheet' href='/static/css/dayof-awards.css'/>

<h1>Awards</h1>
<p>Prizes aren't what's important — but after the hackathon's over, we and our sponsors will be recognizing a couple hacks that really caught our eye.</p>

<ul id='awards'>
	<li id='overall'>
		<h2>Best Overall</h2>
		<p>
		We're giving a prize for the most creative, impressive and innovative project.
		</p>
	</li>
	<li id='oracle'>
		<h2>Most Original</h2>
		<p>
		Oracle's sponsoring a prize for the most original hack.
		</p>
	</li>
	<li id='myo'>
		<h2>Best Wearables</h2>
		<p>
		<a href='http://mlh.io'>MLH</a> is awarding a prize for the best wearable hack.
		</p>
	</li>
	<li id='dell'>
		<h2>Best Hardware</h2>
		<p>
		<a href='http://mlh.io'>MLH</a> is giving out prizes for the best hardware project.
		</p>
	</li>
	<li id='pmd'>
		<h2>Best User Experience</h2>
		<p><a href='http://www.pmd.com'>pMD</a> is offering a prize to the team behind the product with the best user experience.</p>
	</li>
	<li id='twosigma'>
		<h2>Best Use of Data Visualization</h2>
		<p>
			<a href='http://www.twosigma.com'>Two Sigma</a> is sponsoring a prize for the best use of data visualization.
		</p>
	</li>
	<li id='dropbox'>
		<h2>"It Just Works"</h2>
		<p>
			Sometimes the simplest, most functional solution is the best. The best hack that "just works" wins a prize of Dropbox.
		</p>
	</li>
	<li id='kayak'>
		<h2>Best Travel Hack</h2>
		<p>
			KAYAK is sponsoring a prize for the best hack that helps people explore the world.
		</p>
	</li>
	<li id='microsoft'>
		<h2>Best Microsoft Project</h2>
		<p>
			The best project using Azure web services, Microsoft platforms, Kinect or the Bing APIs gets a special prize from Microsoft.
		</p>
	</li>
	<li id='tripavisor'>
		<h2>Best Mobile App</h2>
		<p>
			TripAdvisor's giving an award for the best mobile app.
		</p>
	</li>
	<li id='akamai'>
		<h2>Best Networking Project</h2>
		<p>
			The best networking project wins a prize from Akamai.
		</p>
	</li>
	<li id='teespring'>
		<h2>Teespring</h2>
		<p>
			Teespring is giving a prize for the best web service.
		</p>
	</li>
	<li id='palantir'>
		<h2>Best Real-World Application</h2>
		<p>
			Building something with potential for real-world impact? Palantir is sponsoring a prize for the best hack with the potential to change the world.
		</p>
	</li>
</ul>
