<form action='/__day_of/request_help' method='post' id='help' class='ui form'>
	<h1>Need help?</h1>
	<h3>We'll find an expert and send them to you.</h3>
	
	<p class='field'>
		<label>What's the topic?</label>
		<input type='text' name="topic" placeholder="CSS, Illustrator, Android"/>
	</p>
	
	<p class='field'>
		<label>Where can we find you?</label>
		<input type='text' name="location" placeholder="Room 315"/>
	</p>
	
	<p class='field'>
		<label>What's your name?</label>
		<input type='text' name="name" placeholder="Josiah Carberry" />
	</p>
	
	<p>
		<input type='submit' value='Send help!' class='ui button teal'/>
	</p>
</form>
