<div id='messages'>
{% if bigboard %}
<style>
#messages {
	margin-left: 100px !important;
	margin-right: 100px !important;
}
#logo {
	display: block;
	width: 50px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
</style>
<img id='logo' src='/static/img/logo.png'/>
{% else %}
<div class='optional-sidebar'>
	{% include "day_of/help.html" %}
</div>
{% endif %}

{% for item in feed %}
<div class="feed_item {{item.type}}">
	{% if item.type == 'message' %}
		{{ item.message.day_of_html | safe }}
		<p class='date'>{{ item.message.added | day_of_date }}</p>
	{% elif item.type == 'tweet' %}
		<p>{{ item.tweet.text | linkify | safe }}</p>
		{% if item.tweet.image_url %}
		<p><img src='{{ item.tweet.image_url }}'/></p>
		{% endif %}
		<p class='date'>{{ item.tweet.date | day_of_date }}</p>
	{% else %}

	{% endif %}
</div>
{% endfor %}
</div>
