<link rel='stylesheet' href='/static/css/dayof-resources.css'/>

<h1>Sponsor APIs</h1>
<p>
Want to build an app that uses Facebook data, calls an Uber, or works with Kinect?
That's what APIs are for — use them to interact with other technologies and build exciting things.
</p>
<p>
Our sponsors have tons of amazing APIs that you can (but don't have to) use in your project. If you've got any questions, just ask one of the company's own engineers.
</p>

<ul id='apis'>
	<li id='brown'>
		<h2>Brown APIs</h2>
		<p>
			Build an app or website with menus for the Ratty, V-Dub or other Brown eateries using the <a href='http://brownapis.42pag.es'>Brown Dining APIs.</a>
		</p>
	</li>
	<li id='oracle'>
		<h2>Oracle</h2>
		<img src='/static/img/sponsor-logos/oracle.png'/>
		<p>
			Use the <a href='http://docs.oracle.com/javase/7/docs/api/'>Java SDK</a> — there's tons documentation to make learning Java easier.
		</p>
	</li>
	<li id='oracle'>
		<h2>Oracle</h2>
		<img src='/static/img/sponsor-logos/oracle.png'/>
		<p>
			Use the <a href='http://docs.oracle.com/javase/7/docs/api/'>Java SDK</a> — there's tons documentation to make learning Java easier.
		</p>
	</li>
	<li id='microsoft'>
		<h2>Microsoft</h2>
		<img src='/static/img/sponsor-logos/microsoft.png'/>
		<p>Use a Microsoft API like <a href='http://aka.ms/bingdev-center'>Bing</a>, <a href='http://aka.ms/onedrivedev-center'>OneDrive</a>, <a href='http://aka.ms/officedev-center'>Office</a> or <a href='http://aka.ms/onenotedev-center'>OneNote</a>. Or create a <a href='http://aka.ms/windowsuniversaldev-center'>Windows Universal</a> app. Do amazing things with <a href='http://aka.ms/kinectdev-center'>Kinect</a>, or host your web app on <a href='http://aka.ms/azureeast'>Azure</a>.
	</li>
	<li id='twosigma'>
		<h2>Two Sigma</h2>
		<img src='/static/img/sponsor-logos/twosigma.png'/>
		<p>Use the web-based <a href='http://beakernotebook.com'>Beaker API</a> to research, visualize and analyze data in several languages.</p>
	</li>
	<li id='dropbox'>
		<h2>Dropbox</h2>
		<img src='/static/img/sponsor-logos/dropbox.png'/>
		<p>Use the <a href='https://www.dropbox.com/developers/datastore'>Datastore API</a> to easily sync data like contacts, to-do items, and game state across multiple devices; or use the <a href='https://www.dropbox.com/developers/sync'>Sync API</a> to sync and notify you of remote changes to a user's Dropbox so your app can respond instantly.</p>
	</li>
	<li id='facebook'>
		<h2>Facebook</h2>
		<img src='/static/img/sponsor-logos/facebook.png'/>
		<p>
			Use <a href='https://developers.facebook.com/products/parse/'>Parse</a> as an easy backend for your mobile or web app, or let users sign into your app using <a href='https://developers.facebook.com/products/login/'>Facebook Login</a>.
		</p>
	</li>
	<li id='mongodb'>
		<h2>MongoDB</h2>
		<img src='/static/img/sponsor-logos/mongodb.png'/>
		<p>
			Use <a href='http://api.mongodb.org/'>MongoDB</a> as a database for your app.
		</p>
	</li>
	<li id='tripadvisor'>
		<h2>TripAdvisor</h2>
		<img src='/static/img/sponsor-logos/tripadvisor.png'/>
		<p>
			Use the <a href='httphttp://tripadvisor.com/api/partner/2.0/doc'>TripAdvisor API</a> to search attractions, hotels, and restaurant reviews by location.
		</p>
	</li>
	<li id='akamai'>
		<h2>Akamai</h2>
		<img src='/static/img/sponsor-logos/akamai.png'/>
		<p>
			Akamai offers <a href='https://developer.akamai.com/api#'> tons of APIs</a> for advanced networking.
		</p>
	</li>
	<li id='lyft'>
		<h2>Lyft</h2>
		<img src='/static/img/sponsor-logos/lyft.png'/>
		<p>
			Use the Lyft API to get estimated travel times, costs, and find nearby drivers. It's top-secret, but Hack@Brown attendees can get a key by emailing Liz (<a href='mailto:liz@lyft.com'>liz@lyft.com</a>) or Ashley (<a href='mailto:Aahley.lorden@lyft.com'>ashley.lorden@lyft.com</a>).
		</p>
	</li>
	<li id='bowery'>
		<h2>Bowery</h2>
		<img src='/static/img/sponsor-logos/bowery.png'/>
		<p>
			Use <a href='http://bowery.io/docs/'>Bowery</a> to set up and keep your development environments in sync.
		</p>
	</li>
	<li id='sailthru'>
		<h2>Sailthru</h2>
		<img src='/static/img/sponsor-logos/sailthru.png'/>
		<p>
			Use the <a href='https://getstarted.sailthru.com/api'>Sailthru API</a> for simple solutions to sending email and managing email marketing campaigns.
		</p>
	</li>
	<li id='swipely'>
		<h2>Swipely</h2>
		<img src='/static/img/sponsor-logos/swipely.png'/>
		<p>
			Use <a href='https://www.swipely.com/features/'>Swipely</a> to understand customers and grow sales.
		</p>
	</li>
	<li id='uber'>
		<h2>Uber</h2>
		<img src='/static/img/sponsor-logos/uber.png'/>
		<p>
			Use the <a href='https://developer.uber.com/'>Uber API</a> to call cars.
		</p>
	</li>
	<li id='tessel'>
		<h2>Tessel</h2>
		<img src='/static/img/sponsor-logos/tessel.png'/>
		<p>
			Build a hardware hack with <a href='https://tessel.io/docs/home'>Tessel</a>. Tessel is programmed in JavaScript, and comes with Wifi built in. Capabilities such as sensing, and actuation can be added to Tessel with plug-and-play modules, or you can do your own wiring through the GPIO bank. 
		</p>
	</li>
	<li id='myo'>
		<h2>Myo</h2>
		<img src='/static/img/sponsor-logos/thalmiclabs.png'/>
		<p>
			Integrate <a href='https://developer.thalmic.com/'>Myo</a> into your Android, iOS, Windows and Mac apps.
		</p>
	</li>
	<li id='spark'>
		<h2>Spark.io</h2>
		<img src='/static/img/sponsor-logos/spark.png'/>
		<p>
			The <a href='http://docs.spark.io/'>Spark Core</a> is a wi-fi development kit for internet connected hardware. It’s the “brains” for a hardware project. The Core has a microcontroller which is a low cost/powered computer that can run a single application and tells the Core what to do.
		</p>
	</li>
</ul>
